@mixin mix-table() {
    // width: 100%;
    border: none;
}

@mixin mix-table-thead-td($color, $border-color) {
    min-height: auto;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: $color;
    padding: 13px 26px 15px;
    vertical-align: middle;
    background-color: #fff;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

@mixin mix-table-tbody-td($border-color) {
    padding: 13px 26px 15px;
    vertical-align: middle;
    color: black;
    background-color: #fff;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $border-color;
    border-left: none;
}
