.body {
    .searchinhead {
        &__btn {
			border-color: $btn2-bg-color;
			background-color: $btn2-bg-color;

			&:hover {
				color: $btn2-text-color-hover;
				border-color: $btn2-bg-color-hover;
				background-color: $btn2-bg-color-hover;
			}

			.svg-icon {
				fill: $btn2-text-color;
			}
        }
        
        &__zoom {
			&:hover {
				.svg-icon {
					fill: $color1-darken;
				}
			}

			.svg-icon {
				fill: $color1;
			}
        }
        
        &__enter {
			border-color: $btn2-bg-color;
			background-color: $btn2-bg-color;

			&:hover {
				border-color: $btn2-bg-color-hover;
				background-color: $btn2-bg-color-hover;
			}
		}
    }
}
.menu_horizontal1 {
	.menu {
		.searchinhead {
			&__btn {
				border-color: $btn1-bg-color;
				background-color: $btn1-bg-color;

				&:hover {
					border-color: $btn1-bg-color-hover;
					background-color: $btn1-bg-color-hover;
				}
			}
		}
	}
}

/******************************************************/
/******************************************************/
/******************************************************/

.title-search-result {
	border-color: $btn1-bg-color;

	.stitle {
		.title {
			color: $color-title;
		}
	}
}

.stitle {
	.title {
		color: $color-title;
    }

    .iblock {
        .catitem {
			&:hover {
				.name,
				.prs {
					background-color: $color3;
				}
            }
        }
    }
}
