/* main */
$color1:          #EE8131 !default;
$color1-darken:   darken($color1, 10%) !default;
$color2:          #214496 !default;
$color2-darken:   darken($color2, 10%) !default;
$color3:          #899CC7 !default;
$color3-darken:   darken($color3, 10%) !default;
$default-color:   #ebebeb !default;
$stable-color:    #efefef !default;

$default-border-color:  $default-color !default;
$primary-border-color:  $color1 !default;

$color-title: $color1 !default;

$color-jscroll: $color1 !default;

$icon-color: $color2 !default;
$icon-disabled-color: darken($default-color, 25%) !default;

/* buttons */
$btn1-text-color:         #fff !default;
$btn1-text-color-hover:   $btn1-text-color !default;
$btn1-bg-color:           $color1 !default;
$btn1-bg-color-hover:     darken($btn1-bg-color, 10%) !default;

$btn2-text-color:         #fff !default;
$btn2-text-color-hover:   $btn2-text-color !default;
$btn2-bg-color:           $color2 !default;
$btn2-bg-color-hover:     darken($btn2-bg-color, 10%) !default;

$btn3-text-color:         #fff !default;
$btn3-text-color-hover:   $btn3-text-color !default;
$btn3-bg-color:           $color3 !default;
$btn3-bg-color-hover:     darken($btn3-bg-color, 10%) !default;

/* forms */
$form-control-border-color:       $default-border-color !default;
$form-control-border-color-focus: $primary-border-color !default;
