.b-stores {
    &__genamount {
        color: #888888;
    }

    a.b-stores__genamount {
        color: $gray-text-color;
        text-decoration: none;

        &:hover {
            > .sub {
                color: $default-link-color-hover;
                border-bottom-color: transparent;
            }
        }

        > .sub {
            color: $default-link-color;
            border-bottom: 1px dashed $default-link-color;
        }
    }

    .svg-icon {
        position: relative;
        bottom: 1px;
        width: 14px;
        height: 14px;
        margin: 0 5px;
        fill: #888888;

        &.empty {
            fill: $color1;
        }
    }
}

.b-stores-list {
    border-top: 1px solid $table-border-color;

    &__row {
        width: 100%;
        border-bottom: 1px solid $table-border-color;
        transition: $primary-transition;
    }

    &__col {
        
    }

    .svg-icon {
        position: relative;
        bottom: 1px;
        width: 14px;
        height: 14px;
        margin: 0 5px;
        fill: #888888;

        &.empty {
            fill: $color1;
        }
    }
}

@media (min-width: $screen-lg-min) {
    .b-stores-list {
        &__row {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            -webkit-box-pack: start;
            align-items: center;
    
            &:hover {
                box-shadow: $primary-shadow;
                z-index: 5;
            }
        }

        &__col {
            @include mix-table-tbody-td($table-border-color);
            min-height: 47px;
            flex: 0 1 auto;
            margin: auto 0;
            border-bottom-color: transparent;

            &.title {
                flex: 1 0 auto;
            }
        }
    }
}

@media (max-width: $screen-md-max) {
    .b-stores-list {
        &__row {
            @include mix-table-tbody-td($table-border-color);
        }

        &__col {
            &.title {
                margin-bottom: 7px;
            }
        }

        &__amount {
            margin-top: 7px;
        }
    }
}
