.timers {
  position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
  line-height:18px;
  
  .clock {
    float:left;
    padding:14px 6px;
    background-color:#748080;
    -khtml-border-radius:3px 0px 0px 3px;
    -moz-border-radius:3px 0px 0px 3px;
    -webkit-border-radius:3px 0px 0px 3px;
    border-radius:3px 0px 0px 3px;
    
    i {
      width:16px;
      height:16px;
      background-position:0px 0px;
      background-repeat:no-repeat;
    }
  }
  
  .timer {
    margin: 0 auto;
    background-color: #e8e8e8;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: .7;
    -khtml-opacity: .7;
    opacity: .7;
    
    .intimer {
      float: left;
      padding: 8px 11px 0px;
    }
    
    .dvoet {
      float: right;
    }
    
    .val {
      position: relative;
      float: left;
      margin-right: 9px;
      
      &.ml {
        margin-left: 10px;
      }
      
      &:before {
        position: absolute;
        top: -1px;
        left: 100%;
        display: inline-block;
        content: ':';
        font-size: 19px;
      }
      
      &:nth-child(3):before,
      &:nth-child(4):before,
      &:last-child:before {
        content: none;
      }
      
      .value,
      .podpis {
        width: 100%;
      }
    }
    
    .val .value,
    .dvoet {
      font: 17px Arial,Helvetica,sans-serif;
      font-weight: bold;
      letter-spacing: 3px;
    }
    
    .podpis {
      font: 10px Arial,Helvetica,sans-serif;
    }
    
    .progressbar{
      height: 4px;
      margin-top: 4px;
      background-color: #d4d9de;
      border: 1px solid #b8bcc1;
      -khtml-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      
      .progress {
        position:relative;
        top: -1px;
        left: -1px;
        height: 4px;
        background-repeat: repeat-x;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
      }
    }
  }
  
}

.timer.da2 .progressbar .progress {
  border: 1px solid #c5007c;
  background-color: #c5007c;
  /*background-image: url('../img/timer_da2.jpg');*/
}
.timer.qb .progressbar .progress {
  border: 1px solid #66b132;
  background-color: #66b132;
  /*background-image: url('../img/timer_qb.jpg');*/
}
.timer i {
  background-image: url('../img/clock.png');
}
