
/************************************************************/

$block-border-color:  $default-border-color !default;
$block-title-bg-color:  $block-border-color !default;

.body #bx-soa-order {
  
  input[type="text"],
  input[type="password"],
    textarea,
    select {
    width: 100%;
  }

  &.row {
    [class*="col-"] {
      width: 100%;
    }
  }

  .bx-soa-editstep {
    text-decoration: none;

    &:hover {
      border-bottom: none;
    }
  }
  
  .radio-inline {
    padding-left: 0;

    input {
      &:before,
      &:after {
        display: block;
      }
    }
  }
  
  .has-error .form-control {
    box-shadow: none;
  }
  
  .bx-sls .dropdown-block {
    padding: 0 25px 0 34px;
    border-radius: 0;
  }
  
  .bx-sls .dropdown-icon {
    top: 13px;
    left: 14px;
  }
  .bx-sls .bx-ui-sls-clear {
    margin-top: 6px;
    margin-right: 4px;
  }
  
  .bx-soa-section.bx-step-completed {
    border-color: $block-border-color;
  }
  
  .bx-soa-section-content {
    padding: 10px 25px;

    > strong {
      font-weight: normal;
      color: $gray-text-color;
    }
  }
  .bx-soa-section.bx-active.bx-selected .bx-soa-section-content {
    padding-bottom: 24px;
  }
  
  .bx-soa-section-title-container {
    background-color: $block-title-bg-color;
  }
  
  .bx-soa-section-title {
    font-size: inherit;
    font-weight: normal;
    padding: 3px 25px;
  }
  
  .bx-soa-location-input-container .form-control .bx-ui-sls-fake {
    width: 100%;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .bx-soa .bx-soa-customer-label,
  .bx-soa .bx-soa-custom-label,
  .bx-soa .form-group label.bx-soa-custom-label {
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .bx-soa .form-group label {
    font-size: inherit;
  }
  
  .bx-soa-section.bx-selected,
  .bx-soa-pp-company.bx-selected  .bx-soa-pp-company-graf-container {
    border-color: $primary-border-color;
  }
  
  .bx-soa-item-title {
    font-weight: normal;
  }
  
  .bx-soa-cart-total {
    padding: 10px 25px;
  }
  
  .bx-soa-cart-total .bx-soa-cart-total-line:first-child .bx-soa-cart-t,
  .bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-t {
    font-weight: normal;
    font-size: 16px !important;
  }
  .bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-d {
    font-size: 16px !important;
  }

  .bx-soa-cart-total-button-container .btn-order-save {
    @include mix-buttons($btn1-text-color, $btn1-bg-color, $btn1-text-color-hover, $btn1-bg-color-hover);
  }

  .bx-soa-section-title-count {
    display: none;
  }

  .bx-sls .form-control.dropdown-block,
  .bx-slst .form-control.dropdown-block,
  .bx-soa-coupon-input input[type=text].form-control,
  .form-group .form-control:focus {
    border-color: $default-color;
    background-color: #fff;

    &:focus {
      border-color: $color1;
    }
  }

  .bx-sls .form-control.dropdown-block.focus {
    border-color: $primary-border-color;
  }

  .bx-soa-more-btn .btn.btn-default {
    @include mix-buttons($btn1-text-color, $btn1-bg-color, $btn1-text-color-hover, $btn1-bg-color-hover);

    &.pull-left {
      @include mix-buttons($btn2-text-color, $btn2-bg-color, $btn2-text-color-hover, $btn2-bg-color-hover);
    }
  }

  #bx-soa-orderSave .btn.btn-default {
    @include mix-buttons($btn1-text-color, $btn1-bg-color, $btn1-text-color-hover, $btn1-bg-color-hover);
  }
  @media (max-width: 767px) {
    #bx-soa-orderSave .btn.btn-default {
      &.hidden-xs {
        display: inline-block !important;
      }
    }
  }

  .bx-soa-sidebar .bx-soa-cart-total .btn.btn-default,
  .bx-authform .btn-default {
    @include mix-buttons($btn1-text-color, $btn1-bg-color, $btn1-text-color-hover, $btn1-bg-color-hover);
    font-size: 13px !important;
  }

  .bx_soa_pickup .bx-soa-pickup-list .btn.btn-default,
  .bx-soa-reg-block .btn-default {
    @include mix-buttons($btn2-text-color, $btn2-bg-color, $btn2-text-color-hover, $btn2-bg-color-hover);
  }

  .bx-soa-cart-total {
    padding: 10px 14px;
  }
  .bx-soa-cart-total-line {
    padding: 5px 0;
  }

  .bx-soa-basket-info {
    .bx-price.all,
    .bx-price-old {
      font-weight: normal;
    }
  }

  .bx-soa-cart-total-line.bx-soa-cart-total-line-highlighted {
    background-color: transparent;

    .bx-soa-cart-d {
      color: $color1;
    }
  }

  .bx-soa-item-imgcontainer {
    border: none;
    border-radius: 0;
  }

  // auth page
  .bx-soa-auth {    
    .row {
      width: 100%;
    }

    .checkbox {
      padding-left: 20px;

      .bx-filter-param-label {
        padding-left: 0;
      }
    }

    .bx-soa-reference {
      margin-left: 15px;
    }
  }
}

.body .bx-sls .bx-ui-sls-fake,
.body .bx-sls .bx-ui-sls-route,
.footer .bx-sls .bx-ui-sls-fake,
.footer .bx-sls .bx-ui-sls-route,
.fancybox-container .bx-sls .bx-ui-sls-fake,
.fancybox-container .bx-sls .bx-ui-sls-route,
.gopro-subscribe-window .bx-sls .bx-ui-sls-fake,
.gopro-subscribe-window .bx-sls .bx-ui-sls-route {
  height: 39px;
}

.header-fly-active {
  .bx-soa-cart-total {
    &.bx-soa-cart-total-fixed {
      top: 80px;
    }
  }
}

@media (max-width: $screen-md-max) {
  #bx-soa-order .bx-soa-sidebar {
    display: none;
  }
}

/************************************************************/
