$primary-selector: '.c-attributes' !default;

$attributes-default-border-color: #bdbec0 !default;
$attributes-primary-border-color: $primary-border-color !default;

$attributes-button-disabled-border: 1px dashed $attributes-default-border-color !default;
$attributes-list-disabled-border: none !default;

#{$primary-selector} {
	position: relative;

	&.view-buttons {
		#{$primary-selector} {
			&__name {
				padding-right: 4px;
			}

			&__current-value {
				margin-bottom: 1px;

				#{$primary-selector} {
					&__value {
						color: black;
						padding: 0 6px 0 0;
					}

					&__value-pic {
						display: none;
					}
				}
			}

			&__prop {
				&.is-pic {
					#{$primary-selector} {
						&__option__value {
							display: none;
						}
					}
				}
			}

			&__arrow {
				display: none;
			}

			&__option {
				margin-right: 8px;
				margin-bottom: 8px;
				border: 1px solid $attributes-default-border-color;
				transition: $primary-transition;

				&:not(.disabled) {
					&:hover,
					&.selected {
						color: $default-link-color-hover;
						border-color: $attributes-primary-border-color;
					}
				}

				&.disabled {
					@include mix-attributes-disabled($default-link-color, $attributes-button-disabled-border);
				}
			}

			&__value {
				min-width: 25px;
    			text-align: center;
			}
		}
	}
	
	&.view-list {
		#{$primary-selector} {
			&__name {
				display: block;
			}

			&__prop {
				&.is-pic {
					#{$primary-selector} {
						&__value {
							position: relative;
							top: 1px;
							padding: 5px 7px;
						}
					}
				}

				&.open {
					#{$primary-selector} {
						&__current-value {
							border-color: $attributes-primary-border-color;

							&__pseudo-option {
								border-color: $attributes-primary-border-color;
							}
						}

						&__options {
							display: block;
						}
						
						&__arrow {
							transform: rotate(-180deg);
						}
					}
				}

				#{$primary-selector} {
					&__current-value {
						padding: 0;

						&__pseudo-option {
							display: inline-block;
							padding: 5px;
							border: 1px solid $attributes-default-border-color;
						}
					}
				}
			}

			&__current-value {
				cursor: pointer;
				margin-top: 4px;
			}

			&__options {
				position: absolute;
				top: 100%;
				left: 0;
				display: none;
				min-width: 100%;
				max-height: 196px;
				background-color: #fff;
				border-bottom: 2px solid $attributes-primary-border-color;
				box-shadow: $primary-shadow;
				overflow-y: auto;
				z-index: 100;
			}

			&__option {
				display: block;
				width: 100%;
				padding: 5px;

				&:not(.disabled) {
					&:hover,
					&.selected {
						color: $default-link-color-hover;
						background-color: #f3f3f3;
					}
				}

				&.disabled {
					@include mix-attributes-disabled($default-link-color, $attributes-list-disabled-border);
				}
			}

			&__value-pic {
				width: 29px;
				height: 29px;
				border: 1px solid $attributes-default-border-color;
			}
		}
	}

	&.hide-name {
		.#{$primary-selector} {
			&__name {
				display: none;
			}
		}
	}

	&__name-current-value {
		display: block;
		padding-bottom: 4px;
	}

	&__name-current-value &__value {
		display: inline-block;
	}

	&__name {
		display: inline-block;
		color: $gray-text-color;
		padding: 4px 7px 0 0;
	}

	&__current-value {
		display: inline-block;
	}

	&__arrow {
		width: 8px;
		height: 8px;
		margin-right: 4px;
		margin-bottom: 2px;
		transition: transform .3s;
	}

	&__select {
		position: relative;
		display: inline-block;
	}

	&__options {
		margin-bottom: 11px;
	}

	&__option {
		display: inline-block;
		color: $default-link-color;
		cursor: pointer;
		white-space: nowrap;
		padding: 4px;
		background: transparent;
		border: none;
	}

	&__value {
		display: inline-block;
		color: $default-link-color;
		padding: 7px 6px 6px;
	}

	&__value-pic {
		display: inline-block;
		width: 31px;
		height: 31px;
		font-size: 0;
		vertical-align: middle;
		border: 1px solid transparent;
		background-size: cover;
	}
}
