/* main */
$color1:                        #e70b43;
$color1-darken:                   darken($color1, 10%);
$color2:                        #333333;
$color1-darken:                   darken($color2, 10%);
$color3:                        #899CC7;
$color1-darken:                   darken($color3, 10%);
$default-color:                 #ebebeb;
$stable-color:                  #efefef;
$link-color:                    #3389c4 !default;

@import "../all";
