/* main */
$color1:                        #ee8131;
$color1-darken:                   darken($color1, 10%);
$color2:                        #3e9add;
$color2-darken:                   darken($color2, 10%);
$color3:                        #f5b383;
$color3-darken:                   darken($color3, 10%);
$default-color:                 #ebebeb;
$stable-color:                  #efefef;
$link-color:                    #3389c4 !default;

@import "../all";
