@import "gopro.glass";
@import "gopro.pic";
@import "gopro.delivery";

$selector-detail:	".detail" !default;

#{$selector-detail} {
	margin-bottom: 30px;
	
	&__inner {
		
	}

	&__anchor {
		margin-bottom: 18px;

		&__link {

		}
		
		&__link + &__link {
			margin-left: 14px;
		}
	}

	&__stickers {
		.c-stickers {
			position: absolute;
			top: 50px;
			left: 0;
			cursor: default;
			z-index: 10;

			&__sticker {
				width: auto;
				margin-bottom: 2px;

				&-standart {
					display: block;
					width: 100%;
				}
			}
		}
	}
	&.da2 {
		#{$selector-detail} {
			&__stickers {
				.c-stickers {
					&__sticker {
						&.c-stickers__da2 {
							display: block;
						}
					}
				}
			}
		}
	}
	&.qb {
		#{$selector-detail} {
			&__stickers {
				.c-stickers {
					&__sticker {
						&.c-stickers__qb {
							display: block;
						}
					}
				}
			}
		}
	}

	&__article-rating-brand {
		margin-bottom: 29px;
	}

	&__article {
		.c-article {
			margin-right: 15px;
		}
	}

	&__rating {

	}

	&__brand {
		
	}

	&__prices {
		&__title {
			color: $color-title;
		}

		.c-prices {
			&.product- {
				&multiple {
					margin-bottom: 25px;
				}

				&alone {
					margin-bottom: 30px;
				}
			}
		}
	}

	&__prices-note {
		margin-bottom: 15px;
	}

	&__attributes {
		margin-bottom: 6px;

		.c-attributes {
			&.view-buttons {
				margin-bottom: 14px;

				.c-attributes__prop + .c-attributes__prop {
					margin-top: 7px;
				}
			}

			&.view-list {
				margin-bottom: 22px;

				.c-attributes__prop + .c-attributes__prop {
					margin-top: 18px;
				}
			}
		}
	}

	&__changelable-props {

	}

	&__previewtext {
		color: $gray-text-color;
		margin-bottom: 17px;

		&__go-to {
			margin: 7px 0;
		}

		&__go-to__link {
			color: $primary-link-color;

			&:hover {
				color: $primary-link-color-hover;
				text-decoration: underline;
			}
		}
	}

	&__size-table {

	}

	&__pay-stores {
		@include mix-gopro-flex();
		margin-bottom: 11px;

		.b-pay {
			&__inner {
				@include mix-gopro-flex();
			}
		}
	}

	&__pay {
		flex: 0 1 auto;

		.b-pay {
			&__quantity {
				margin-right: 20px;
			}

			&__button {
				margin-right: 8px;
			}
		}

		.bx-catalog-subscribe-button {
			&.in {
				padding-left: 0;
			}
		}
	}
	
	&__stores {
		flex: 0 1 auto;
		padding: 6px 0;
	}

	&__compare-favorite-cheaper {
		margin-bottom: 25px;
	}

	&__compare {

	}

	&__compare + &__favorite {
		margin-left: 18px;
	}

	&__favorite {

	}

	&__favorite + &__cheaper {
		margin-left: 44px;
	}

	&__cheaper {
		
	}

	&__social {
		margin-bottom: 24px;
	}

	&__product-in-action {

	}

	&__delivery-cost {

	}

	&__detail-features {

	}

	&__tabs-content {
		margin-bottom: 30px;
	}
}

.mods,
.bigdata {
	margin-bottom: 30px;
}

@media (min-width: $screen-sm-min) {
	#{$selector-detail} {
		&__inner {
			margin-top: 27px;
		}

		&__brand {
			float: right;
		}
	}
}

@media (max-width: $screen-xs-max) {
	#{$selector-detail} {
		&__brand {
			display: block;
			width: 100%;
			margin-top: 10px;
		}

		&__pay {
			margin-bottom: 15px;

			.c-quantity {
				margin-bottom: 15px;
			}
		}

		&__compare-favorite-cheaper {
			> span + span {
				margin-top: 10px;
			}
		}

		&__compare + &__favorite {
			margin-left: 0;
		}

		&__favorite + &__cheaper {
			margin-left: 0;
		}

		&__compare,
		&__favorite,
		&__cheaper {
			display: block;
		}

		&__tabs-content {
			margin-bottom: 15px;
		}
	}

	.mods,
	.bigdata {
		margin-bottom: 15px;
	}
}
