.elementdetail{
	width:100%;/*width:80%;*/
	float:left;
}
/*
.rrr{
	float:left;
	width:20%;
}
*/
.elementdetail{
	position:relative;
}
.elementdetail .pictures,
.elementdetail .detail-product__info{
	float:left;
}
.elementdetail .pictures{
	width:40%;
}
.elementdetail .detail-product__info{
	width:60%;
}

.elementdetail .pic,
.elementdetail .zoom{
	margin-bottom:15px;
}

/* pictures */
.elementdetail .pictures{
	padding-right:25px;
}
.elementdetail .pic{
	position:relative;
	height:350px;
	line-height:350px;
	text-align:center;
}
.elementdetail .pic img{
	max-height:350px;
}
.elementdetail .pic .glass{
	max-width:100%;
	display:inline-block;
	line-height:1.2;
	vertical-align:middle;
}
.elementdetail .zoom {
	text-align: center;
}
.elementdetail .zoom .svg-icon {
	width: 12px;
    height: 12px;
    margin-right: 5px;
	fill: $color1;
}
.picslider{
	position: relative;
}
.picslider .scrollinner a{
	display: block;
	width: 90px;
	height: 90px;
	padding: 5px;
	text-align: center;
	line-height: 90px;
	border: 1px solid #F2F2F2;
  transition: border-color ease-in-out 0.15s;
}
.picslider .scrollinner a:hover {
  border-color: $primary-border-color;
}
.picslider .scrollinner a.selected {
	border-color: $primary-border-color;
}
.picslider .scrollinner a img{
	display:inline-block;
	line-height:1.2;
	vertical-align:middle;
}
.picslider.horizontal .d_jscrollpane,
.picslider.horizontal .popd_jscrollpane{
	margin-right:47px;
	margin-left:47px;
}
.picslider a.prev,
.picslider a.next,
.elementdetail .prices a.prev,
.elementdetail .prices a.next{
	display:block;
	visibility:hidden;
}
.picslider.jspHasScroll .prev,
.picslider.jspHasScroll .next,
.elementdetail .prices.jspHasScroll .prev,
.elementdetail .prices.jspHasScroll .next{
	visibility:visible;
}
.picslider.horizontal a.prev,
.picslider.horizontal a.next,
.elementdetail .prices a.prev,
.elementdetail .prices a.next{
	position:absolute;
	top:0px;
	z-index:100;
}
.picslider a.page{
	padding:41px 20px;
}
.picslider.horizontal a.prev,
.elementdetail .prices a.prev{
	left:0px;
}
.picslider.horizontal a.next,
.elementdetail .prices a.next{
	right: 0px;
}
.picslider.horizontal a .svg-icon,
.elementdetail .prices a .svg-icon{
	width: 18px;
	height: 18px;
	fill: #6f6f6f;
}
.picslider.horizontal a:hover .svg-icon,
.elementdetail .prices a:hover .svg-icon {
	fill: $color1;
}
.picslider.horizontal .scrollinner a{
	float: left;
	margin-right: 10px;
}
.picslider.horizontal .jspVerticalBar,
.picslider.horizontal .jspHorizontalBar{
	display:none;
}
.picslider.vertical{
	float:right;
	width:240px;
	margin-left:20px;
}
.picslider.vertical .d_jscrollpane,
.picslider.vertical .popd_jscrollpane{
	width:100%;
	height:200px;
	overflow:auto;
}
.picslider.vertical a.pop {
	padding: 2px 101px;
}
.picslider.vertical a .svg-icon {
	width: 15px;
	height: 15px;
	fill: #6f6f6f;
}
.picslider.vertical a:hover .svg-icon {
	fill: $color1;
}
.picslider.vertical a {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.picslider .d_jscrollpane,
.picslider .popd_jscrollpane,
.prices .prs_jscrollpane{
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.picslider .sliderin{
	width:5000px;
	height:110px;
}
.fancyimages  table{
	width:100%;
	height:100%;
}
.fancyimages  table td{
	vertical-align:middle;
	text-align:center;
}
.fancyimages  table td.slider{
	width:260px;
	vertical-align:top;
}
/* share */
.elementdetail .share {
	float: none;
	margin: 15px 0px;
}
.elementdetail .share .b-share{
	padding-left: 0px !important;
}
/* article and stores */
.elementdetail .article{
	float:left;
	width:50%;
	min-height:5px;
}
/* article and stores -> stores */
.elementdetail .articleandstores{
	margin-bottom:10px;
}
.popupstores{
	text-align:left;
}
.popupstores table{
	margin-top:5px;
}
.popupstores table td{
	padding:2px 5px;
	border-bottom:1px solid #F2F2F2;
}
.fancybox-container .popupstores table{
	margin-top:0px;
}
.fancybox-container .popupstores table td{
	border-bottom:none;
}
.popupstores table td.amount{
	padding-left:50px;
}
.popupstores table td.amount .empty{
	color:#ff0000;
}
.popupstores table td.amount .isset{
	color:#00cc00;
}
/* prices */
.elementdetail .prices{
	position:relative;
	margin-bottom:15px;
}
.elementdetail .prices a.prev,
.elementdetail .prices a.next{
	padding:0px 0px 31px 0px;
	background-color:#F7F7F7;
}
.elementdetail .prices a.prev span,
.elementdetail .prices a.next span{
	display:block;
	width:30px;
	height:38px;
	margin-bottom:29px;
}
.elementdetail .prices a.prev .icon,
.elementdetail .prices a.next .icon{
	margin:0px 10px;
}
.elementdetail .prices .prs_jscrollpane{
	height:138px;
}
.elementdetail .prices .prs_jscrollpane .jspVerticalBar,
.elementdetail .prices .prs_jscrollpane .jspHorizontalBar{
	display:none;
}
.elementdetail .prices table th,
.elementdetail .prices table td{
	padding:10px 30px;
	width:100px;
	text-align:left;
}
.elementdetail .prices a.prev span,
.elementdetail .prices a.next span,
.elementdetail .prices table th{
	background:#F3F3F3;
}
.elementdetail .prices table td{
	background-color:#f7f7f7;
}
.elementdetail .prices table td .price.old{
	font-size:14px;
}
.elementdetail .prices table td .price{
	font-size:18px;
}
.elementdetail .prices table td .price.new{
	font-family:Opensansbold,Arial,Helvetica,sans-serif;
}
.elementdetail .pricestable thead th{
	font-weight:normal;
}
/* /prices */
/* prices -> solo */
.elementdetail .soloprice{
	height:75px;
	margin-bottom:15px;
}
.elementdetail .soloprice td{
	padding:3px 0px;
}
.elementdetail .soloprice .line{
	padding-right:50px;
	border-bottom:1px dotted #CCC;
}
.elementdetail .soloprice .line,
.elementdetail .soloprice .price,
.elementdetail .soloprice .discount{
	height:10px;
}
.elementdetail .soloprice .name{
	position:relative;
	top:-3px;
	background-color:#FFF;
}
.elementdetail .soloprice .price.gen{
	font-size:18px;
}
/* /prices -> solo */
/* properties */
.elementdetail .detail-product__info .properties{
	margin-bottom:15px;
}
/* add2basket */
.elementdetail .add2basketform .quantitytitle,
.elementdetail .add2basketform .quantity,
.elementdetail .add2basketform .add2basket,
.elementdetail .add2basketform .inbasket,
.elementdetail .add2basketform .go2basket,
.elementdetail .add2basketform .buy1click,
.elementdetail .add2basketform .add2subscribe {
	margin-bottom: 15px;
}
.elementdetail .add2basketform.in .add2basket,
.elementdetail .add2basketform .inbasket,
.elementdetail .add2basketform .go2basket,
.elementdetail .add2basketform.in .buy1click {
	display:none;
}
.elementdetail .add2basketform  .quantity,
.elementdetail .add2basketform .add2basket,
.elementdetail .add2basketform .inbasket,
.elementdetail .add2basketform .go2basket,
.elementdetail .add2basketform .buy1click,
.elementdetail .add2basketform .add2subscribe {
	margin-right: 15px;
}
.elementdetail .add2basketform .plus,
.elementdetail .add2basketform .minus{
	padding-top: 11px;
	padding-bottom: 13px;
}
.elementdetail .add2basketform .add2basket,
.elementdetail .add2basketform .inbasket {
	padding: 9px 8px 7px 8px;
}
.elementdetail .add2basketform .quantitytitle,
.elementdetail .add2basketform .go2basket{
	padding: 11px 0px;
}
.elementdetail .add2basketform .buy1click,
.elementdetail .add2basketform .add2subscribe {
	padding: 10px 8px 12px 8px;
}
.elementdetail .add2basketform .add2basket .svg-icon,
.elementdetail .add2basketform .inbasket .svg-icon {
	margin-right: 5px;
	margin-left: 0px;
	fill: #fff;
}
.elementdetail .add2basketform .add2basket .svg-icon {
	width: 23px;
	height: 23px;
	margin-bottom: 1px;
}
.elementdetail .add2basketform .inbasket .svg-icon {
	width: 16px;
	height: 16px;
	margin-top: 3px;
	margin-bottom: 5px;
}
/* comapre & favorite */
.elementdetail .threeblock {
	margin-bottom: 15px;
}
.elementdetail .compare {
	float:left;
	margin-right:15px;
}
.elementdetail .favoriteandcheaper{
	float:left;
}
.elementdetail .favoriteandcheaper .favorite,
.elementdetail .favoriteandcheaper .cheaper {
	float: left;
	margin-right: 15px;
}
.elementdetail .favoriteandcheaper .favorite .svg-icon,
.elementdetail .favoriteandcheaper .cheaper .svg-icon {
	margin-right: 5px;
	margin-bottom: 2px;
}
.elementdetail .favoriteandcheaper .cheaper {
	position: relative;
	padding-left: 16px;
}
.elementdetail .favoriteandcheaper .cheaper .svg-icon {
	position: absolute;
	top: -8px;
    left: -16px;
	width: 32px;
	height: 32px;
	fill: #0c4da2;
}
/* mods */
.mods h3.title2,
.bigdata h3.title2,
.detailcollection h3.title2 {
	float:left;
	color:#ee8131;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
}
.mods .catalogsorter,
.bigdata .catalogsorter,
.detailcollection .catalogsorter {
	position:relative;
	top:-5px;
	float:right;
	margin-bottom:10px;
}
/* /mods */
/* tabs */
.detailtabs{
	padding-bottom:15px;
	border-bottom:1px solid #F3F3F3;
}
.detailtabs.anchor .content{
	margin-bottom:20px;
}
.detailtabs.tabs .content .contentbody,
.detailtabs .content .switcher{
	display:none;
}
.detailtabs .content.selected .contentbody,
.detailtabs .content.selected .switcher{
	display:block;
}
.detailtabs .headers{
	padding:12px 10px;
	background-color:#F3F3F3;
}
.detailtabs .headers a{
	display:block;
	float:left;
	padding:5px 8px;
	margin-right:10px;
	text-decoration:none;
}
.detailtabs .headers a:active,
.detailtabs .headers a.selected:active{
	color: #FFF;
	background-color: #d36f25;
}
.detailtabs .headers a.selected{
	color: $btn1-text-color;
	background-color: $btn1-bg-color;
}
.detailtabs .headers a:hover {
  color: $btn1-text-color-hover;
	background-color: $btn1-bg-color-hover;
}
.detailtabs .contents{
	overflow:hidden;
}
.detailtabs .contents .contentinner{
	padding:12px 10px;
}
.detailtabs .contents .content.review{
	position:relative;
}
.detailtabs .contents .content.review .contentinner{
	padding:12px 24px 0px 24px;
}
.detailtabs .contents .content .switcher{
	padding:12px 10px 0px 10px;
	line-height:34px;
	font-size:24px;
	margin-bottom:8px;
}
.detailtabs .contents .content.review .switcher{
	margin-bottom:0px;
}
/* tabs -> docs */
.detailtabs .contents .content.files .docs{
	width:33%;
	display:block;
	float:left;
	padding:8px 15px 8px 0px;
}
.detailtabs .contents .content.files a.docs .icon{
	display:block;
	float:left;
	width:44px;
	height:47px;
	background-position:0px -834px;
}
.detailtabs .contents .content.files a.docs .icon.word{
	height:45px;
	margin-bottom:2px;
	background-position:0px -744px;
}
.detailtabs .contents .content.files a.docs .icon.excel{
	height:45px;
	margin-bottom:2px;
	background-position:0px -789px;
}
.detailtabs .contents .content.files a.docs .icon.pdf{
	background-position:0px -697px;
}
.detailtabs .contents .content.files a.docs span{
	display:block;
	margin-left:50px;
}
.detailtabs .contents .content.files a.docs .description{
	color:#000;
}
.detailtabs .contents .content.files a.docs .size{
	color:#999;
	font-size:11px;
}
.detailtabs .contents .content.files .separator.x3{
	width:100%;
	float:left;
	display:block;
}
.detailtabs .contents .content a.docs:hover .name{
	text-decoration:underline;
}
.detailtabs .contents .content a.docs:hover,
.detailtabs .contents .content a.docs:hover .size,
.detailtabs .contents .content a.docs .size:hover{
	text-decoration:none;
}

.detailtabs,
.mods,
.bigdata,
.detailcollection {
	margin-top:50px;
}

#detailtext table,
.detailtabs .contentinner.prop-tabs table{
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}
#detailtext table,
.detailtabs .contentinner.prop-tabs table,
#detailtext td,
.detailtabs .contentinner.prop-tabs td {
	padding: 1px;
	border: 1px solid gray;
}
.propvision1 .offer_prop.offer_prop_list .div_options.div_options_list {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	border: none;
	margin-top: 5px;
}
.propvision1 .offer_prop.offer_prop_list .div_selected.div_selected_list {
	display: none;
}
.propvision1 .offer_prop.offer_prop_list .div_options.div_options_list .div_option {
	display: inline-block;
	border: 1px solid #e4e4e4;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 4px 3px 3px;
}
.propvision1 .offer_prop.offer_prop_list .div_options.div_options_list .div_option span {
	height: 20px;
	min-width: 20px;
	text-align: center;
}

.fancygallery {
	height: 100%;
	max-height: 100%;
}

@media screen and (max-width: 1260px){
	body.adaptive .elementdetail{
		width:100%;
	}
	body.adaptive .rrr{
		display:none;
	}
	body.adaptive .elementdetail .article,
	body.adaptive .elementdetail .stores{
		width:100%;
		float:none;
		text-align:left;
	}
	body.adaptive .elementdetail .stores{
		margin-top:5px;
	}
}
@media screen and (max-width:605px){
	body.adaptive .elementdetail .pictures,
	body.adaptive .elementdetail .detail-product__info{
		width:100%;
		float:none;
		padding-right:0px;
	}
	body.adaptive .elementdetail .detail-product__info{
		margin-top:15px;
		padding-top:25px;
		border-top:1px solid #F3F3F3;
	}
	body.adaptive .detailtabs .contents .content.files .docs{
		width:50%;
	}
	body.adaptive .detailtabs .contents .content.files .separator.x3{
		display:inline;
		width:0px;
		float:none;
	}
	body.adaptive .detailtabs .contents .content.files .separator.x2{
		display:block;
		width:100%;
		float:left;
	}
}
@media screen and (max-width:480px){
	body.adaptive .elementdetail .compare,
	body.adaptive .elementdetail .favoriteandcheaper,
	body.adaptive .elementdetail .favoriteandcheaper .favorite,
	body.adaptive .elementdetail .favoriteandcheaper div.cheaper{
		width:100%;
		float:none;
		margin-top:8px;
	}
	body.adaptive .elementdetail .soloprice .line{
		padding-right:20px;
	}
	body.adaptive .elementdetail .buy{
		margin-bottom:5px;
	}
	body.adaptive .elementdetail .threeblock{
		border-top:1px solid #F3F3F3;
	}
	body.adaptive .detailtabs,
	body.adaptive .mods,
	body.adaptive .bigdata{
		margin-top:25px;
	}
	body.adaptive .detailtabs .headers{
		display:none;
	}
	body.adaptive .detailtabs .content{
		margin-top:15px;
	}
	body.adaptive .detailtabs .content .switcher{
		display:block;
		padding:5px 14px;
		font-size:13px;
		background-color:#F3F3F3;
	}
	body.adaptive .detailtabs .content.selected .switcher{
		color:#fff;
		background-color:#EE8131;
	}
	body.adaptive .detailtabs .content .switcher:active,
	body.adaptive .detailtabs .content.selected .switcher:active{
		color:#fff;
		background-color:#d36f25;
	}
	body.adaptive .detailtabs .content .contentinner{
		padding:5px 14px;
	}
	body.adaptive .detailtabs .contents .content.files .docs{
		width:100%;
	}
	body.adaptive .detailtabs .contents .content.files .separator.x3{
		display:inline;
		width:0px;
		float:none;
	}
	body.adaptive .detailtabs .contents .content.files .separator.x1{
		display:block;
		width:100%;
		float:left;
	}
}
.list-item {
    display: block;
    padding: 3px 7px;
}
