.fancybox {
    &-container {
        // base popup
        &.rs-gopro-popup {
            .fancybox {
                &-caption {
                    &-wrap {
                        display: none;
                    }
                }

                &-slide {
                    > div {
                        &:not(.fancybox-loading) {
                            max-width: 940px;
                            min-width: 300px;
                            padding-top: 81px;
                        }
                    }
                }
            }
        }

        &.rs-gopro-product-gallery {
            .fancybox {
                &-slide {
                    > div {
                        &:not(.fancybox-loading) {
                            width: 90%;
                            height: 90%;
                            max-width: 100%;
                            min-width: 300px;
                            padding-top: 81px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    &-custom-title {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 20px 20px 12px 20px;
        border-bottom: 1px solid #F2F2F2;

        > span {
            display: block;
            font-family: Opensanslight, Arial, Helvetica, sans-serif;
            font-size: 24px;
            line-height: 28px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &-close {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 23px 25px 18px;
        cursor: pointer;
        z-index: 8050;
    }

    &-close {
        &:hover {
            .svg-icon {
                fill: #505050;
            }
        }

        .svg-icon {
            width: 12px;
            height: 12px;
            fill: #b0b0b0;
        }
    }
}
