.body,
.footer,
.fancybox-container,
.popup-window,
.rsgppopup,
.rs_easycart,
.gopro-subscribe-window {

  .form-control {
    height: 40px;
  }

  input[type="text"],
  input[type="password"],
  textarea,
  select {
    width: auto;
    height: auto;
    font: 13px Opensanslight, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px 9px;
    outline: -webkit-focus-ring-color auto 0;
    border: 1px solid $form-control-border-color;
    background: none;
    box-shadow: none;
    border-radius: none;
    transition: border-color ease-in-out 0.15s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    
    &:focus {
      border-color: $form-control-border-color-focus;
      box-shadow: none;
    }
  }
  
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    font: 13px Opensanslight, Arial, Helvetica, sans-serif;
    padding: 5px 14px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
  }
  
  .bx-sls,
  .bx-slst {
    .dropdown-block {
      font: 13px Opensanslight, Arial, Helvetica, sans-serif;
      margin: 0;
      border: 1px solid $form-control-border-color;
      box-shadow: none;
      transition: border-color ease-in-out 0.15s;
      
      &.focus {
        border-color: $form-control-border-color-focus;
      }
    }

    .bx-ui-sls-route,
    .bx-ui-sls-fake {
      position: relative;
      top: -1px;
    }
  }
}

/* placeholder */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
input:-moz-placeholder{
  color: #999;
  font-size: 13px;
  font-family :Arial, Helvetica, sans-serif;
}
