ul, ol {
  list-style: none;
  padding-left: 50px;
  > li {
    position: relative;
    list-style-type: none;
    line-height: 19px;
    &:before {
      content: '\2022';
      position: absolute;
      top: 0px;
      left: -31px;
      font-size: 14pt;
      line-height: 1em;
      color: $btn1-text-color;
    }
  }
}
ol {
  counter-reset: list 0;
  > li:before {
    counter-increment: list;
    content: counter(list)'';
    font-size: 10pt;
    margin-top: 4px;
  }
}
ul.list-ok, ol.list-ok {
  > li:before {
    content: "\f00c";
    font-size: 11px;
    font-family: 'FontAwesome';
    margin-top: 5px;
  }
}
ul.list-unstyled, ol.list-unstyled {
  list-style: none;
  padding-left: 0px;
  counter-reset: list 0;
  > li{
    position: static;
    list-style-type: none;
    &:before {
      position: static;
      left: 0px;
      content: '';
    }
  }
}
