.propvision1 .offer_prop{
	position: relative;
	margin-bottom: 3px;
}
.propvision1 .offer_prop .offer_prop-name{
	margin-right:5px;
}
.propvision1 .offer_prop .div_select{
	position:relative;
	display:inline-block;
}
.propvision1 .offer_prop .svg-icon {
	width: 8px;
	height: 8px;
	margin-left: 5px;
	margin-bottom: 2px;
}
.propvision1 .offer_prop .div_selected{
	display:inline-block;
	cursor:pointer;
}
.propvision1 .offer_prop .div_selected span{
	color:#214496;
	border-bottom:1px dashed #000;
}
.propvision1 .offer_prop.color .div_selected span{
	border:none;
}
.propvision1 .offer_prop .div_selected span:hover{
	border-bottom:1px dashed #FFF;
}
.propvision1 .offer_prop.closed .div_options{
	display: none;
}
.propvision1 .offer_prop .div_options {
	position: absolute;
	left: -14px;
	top: 100%;
	min-width: 50px;
	max-height: 196px;
	background-color: #FFF;
	border: 1px solid #F2F2F2;
	overflow-y: auto;
	z-index: 100;
}
.propvision1 .offer_prop .div_options.div_options_list {
	max-height: none;
	overflow-y: auto;
}
.propvision1 .properties:not(.properties_list) .offer_prop .div_options {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.propvision1 .offer_prop.color .div_options{
	min-width:0px;
	left:-8px;
}
.propvision1 .offer_prop .div_options .div_option{
	min-width:50px;
	padding:5px 14px;
	color:#214496;
	cursor:pointer;
	white-space:nowrap;
}
.propvision1 .offer_prop.color .div_options .div_option{
	min-width:0px;
	padding:5px 7px;
}
.propvision1 .offer_prop .div_options .div_option:hover:not(.disabled),
.propvision1 .offer_prop .div_options .div_option:hover:not(.disabled) span {
	color: $btn2-text-color;
	background-color: $btn1-bg-color-hover;
}
.propvision1 .offer_prop.color .div_selected span,
.propvision1 .offer_prop.color .div_options .div_option span{
	display:inline-block;
	width:15px;
	height:15px;
	font-size:0;
	vertical-align:middle;
	border:1px solid #eeeeee;
	background-size: cover;
}
.propvision1 .offer_prop .div_options .div_option:hover span{
	text-decoration: none;
}
.propvision1 .offer_prop .div_options .div_option.selected,
.propvision1 .offer_prop .div_options .div_option.selected span{
	color: #fff;
  background-color: $btn1-bg-color;
}
.prop_option_line_through .propvision1 .offer_prop .div_options .div_option.disabled,
.prop_option_line_through .propvision1 .offer_prop .div_options .div_option.disabled:hover{
	color:#B3B3B3;
	cursor:default;
	text-decoration:line-through;
	background-color:#FFF;
}
.prop_option_line_through .propvision1 .offer_prop.color .div_options .div_option.disabled,
.prop_option_line_through .propvision1 .offer_prop.color .div_options .div_option.disabled:hover,
.prop_option_hide .propvision1 .offer_prop .div_options .div_option.disabled,
.prop_option_hide .propvision1 .offer_prop .div_options .div_option.disabled:hover{
	display:none;
}
