.location {
	display: inline-block;
	padding-top: 16px;
	padding-right: 20px;

	.svg-icon {
		width: 8px;
		height: 8px;
		margin-left: 3px;
		margin-bottom: 1px;
	}
}

@media screen and (max-width:480px) {
	body.adaptive {
		.location {
			display: block;
			float: left;

			span {
				display: none;
			}
		}
	}
}
