.body,
.footer,
.fancybox-container,
.popup-window,
.rsgppopup,
.rs_easycart,
.gopro-subscribe-window {
  
  input[type="text"],
  input[type="password"],
  textarea,
  select {
    border-color: $form-control-border-color;
    
    &:focus {
      border-color: $form-control-border-color-focus;
    }
  }

  .bx-sls,
  .bx-slst {
    .dropdown-block {
      border-color: 1px solid $form-control-border-color;
      
      &.focus {
        border-color: $form-control-border-color-focus;
      }
    }
  }

  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:checked + .label:after,
  a.checkbox.in > label:after,
  a.checkbox.in > .label:after,
  #bx-soa-orderSave [type="checkbox"]:checked + a:after,
  .form-group .soa-property-container [type="checkbox"]:checked:after {
    border-color: $color1;
    background-color: $color1;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:checked + .label:before,
  [type="radio"]:checked + label:after,
  [type="radio"]:checked + .label:after,
  .bx_soa_location .radio-inline label [type="radio"]:checked:before,
  .bx_soa_location .radio-inline label [type="radio"]:checked:after,
  .form-group .soa-property-container label [type="radio"]:checked:before,
  .form-group .soa-property-container label [type="radio"]:checked:after {
    border-color: $color1;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:checked + .label:after,
  .bx_soa_location .radio-inline label [type="radio"]:checked:after,
  .form-group .soa-property-container label [type="radio"]:checked:after {
    background-color: $color1;
  }
}
