// shadow
$primary-shadow:                  0px 6px 41px -8px rgba(154,164,166,0.82);

$dropDownShadow:                  $primary-shadow;

$primary-transition:              all .15s linear;

$default-border-color:            $default-color;
$primary-border-color:            $color1;

$color-title:                     $color1;

$color-jscroll:                   $color1;

$icon-color:                      $color2;
$icon-color-hover:                darken($color2, 10%);
$icon-disabled-color:             darken($default-color, 25%);

/* buttons */
$btn1-text-color:               #fff;
$btn1-text-color-hover:           $btn1-text-color;
$btn1-bg-color:                   $color1;
$btn1-bg-color-hover:             darken($btn1-bg-color, 15%);

$btn1darken-text-color:         #fff;
$btn1darken-text-color-hover:     $btn1darken-text-color;
$btn1darken-bg-color:             darken($color1, 15%);
$btn1darken-bg-color-hover:       lighten($btn1darken-bg-color, 15%);

$btn2-text-color:               #fff;
$btn2-text-color-hover:           $btn2-text-color;
$btn2-bg-color:                   $color2;
$btn2-bg-color-hover:             darken($btn2-bg-color, 15%);

$btn2darken-text-color:         #fff;
$btn2darken-text-color-hover:     $btn2darken-text-color;
$btn2darken-bg-color:             darken($color2, 15%);
$btn2darken-bg-color-hover:       lighten($btn2darken-bg-color, 15%);

$btn3-text-color:               #fff;
$btn3-text-color-hover:           $btn3-text-color;
$btn3-bg-color:                   $color3;
$btn3-bg-color-hover:             darken($btn3-bg-color, 15%);

$btn3darken-text-color:         #fff;
$btn3darken-text-color-hover:     $btn3darken-text-color;
$btn3darken-bg-color:             darken($color3, 15%);
$btn3darken-bg-color-hover:       lighten($btn3darken-bg-color, 15%);

/* forms */
$form-control-border-color:       $default-border-color;
$form-control-border-color-focus: $primary-border-color;

/* links */
$default-link-color:              $link-color;
$default-link-color-hover:        lighten($default-link-color, 15%);
$primary-link-color:              $color1;
$primary-link-color-hover:        darken($primary-link-color, 15%);

/* text */
$gray-text-color:                 #878787;

/* grid */
$grid-columns:                    12;
$grid-gutter-width-base:          30px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);
$enable-grid-classes:             true;

// table
$table-thead-text-color:        #878787;
