/**************************************
label_description_start
**************************************/
.nothinSelectorJustColorTheme {
    /* color1 - $color1 - GOPRO_QQ#COLOR_1_1#GOPRO_ZZ */
    color: $color1;
     /* darken color1 - $btn1-bg-color-hover - GOPRO_QQ#COLOR_1_1_DARKEN_10_PERSENT#GOPRO_ZZ */
    color: $btn1-bg-color-hover;
     /* color2 - $color2 - GOPRO_QQ#COLOR_1_2#GOPRO_ZZ */
    color: $color2;
     /* darken color2 - $btn3-bg-color-hover - GOPRO_QQ#COLOR_1_2_DARKEN_10_PERSENT#GOPRO_ZZ */
    color: $btn3-bg-color-hover;
}
/**************************************
label_description_finish
**************************************/
