$selector-showcase: '.list-showcase' !default;

$showcase-element-height: 480px;
$showcase-element-height-xs: 489px;

$showcase-element-padding-top: 18px;
$showcase-element-padding-right: 24px;
$showcase-element-padding-bottom: $showcase-element-padding-top - 2;
$showcase-element-padding-left: $showcase-element-padding-right;
$showcase-element-padding: $showcase-element-padding-top $showcase-element-padding-right $showcase-element-padding-bottom $showcase-element-padding-left;

$showcase-element-part-main-height: ($showcase-element-height - $showcase-element-padding-top - $showcase-element-padding-bottom);

$showcase-element-hover-box-shadow: $primary-shadow;

#{$selector-showcase} {
    &__element {
        height: $showcase-element-height;

        &:hover {
            #{$selector-showcase} {
                &__inner {
                    box-shadow: $showcase-element-hover-box-shadow;
                    z-index: 110;
                }
            }
        }
    }
        
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: $showcase-element-padding;
        background: #fff;
        border: 1px solid #F2F2F2;
        transition: $primary-transition;
        z-index: 100;
    }

    /* part main */
    &__part-main {
        min-height: $showcase-element-part-main-height;
    }

    &__mix {
        position: relative;
        margin-bottom: 10px;
    }

    &__picture {
        > a,
        > span {
            display: block;
            width: 100%;
            height: 228px;
            line-height: 208px;
            text-align: center;
        }

        img {
            position: relative;
            top: -2px;
        }
    }

    &__timer-stickers {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
    }

    &__timer {

    }

    &__stickers {
        position: relative;

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 18px;
            height: auto;
            content: " ";
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
        }
    }

    &__compare {
        position: absolute;
        top: -4px;

        .c-compare {
            .svg-icon {
                left: 2px;
                bottom: 1px;
            }
        }
    }

    &__favorite {
        position: absolute;
        top: 18px;

        .c-favorite {
            .svg-icon {
                left: 5px;
            }
        }
    }
    &__compare,
    &__favorite {
        right: -20px;

        > a {
            position: relative;
            right: 2px;
            top: 0;
            display: inline-block;
            width: 20px;
            height: 20px;

            .svg-icon {
                position: relative;
            }
        }
    }

    &__name-rating {
        height: 54px;
        margin-bottom: 7px;
        overflow: hidden;
    }

    &__name {
        
    }

    &__rating {

    }

    &__prices {
        height: 62px;
        margin-bottom: 7px;
        overflow: hidden;

        .c-prices.product-alone {
            padding-top: 36px;
        }
    }

    &__stores {
        height: 38px;
        padding: 10px 0;
        margin-bottom: 3px;
        overflow: hidden;
    }

    &__pay {
        .bx-catalog-subscribe-button {
            &.in {
                padding-left: 0;
            }
        }
    }

    &__unsubscribe {
        &-detail {

        }

        &-action {
            margin-top: 5px;
        }
    }
    /* /part main */

    /* part extended */
    &__part-extended {
        display: none;
    }

    &__attributes {
        .c-attributes {
            margin-bottom: 10px;
        }

        .c-attributes__prop + .c-attributes__prop {
            margin-top: 9px;
        }
    }

    &__preview-text {
        padding-top: 3px;
        padding-bottom: 6px;

        &__text {
            max-height: 90px;
            color: $gray-text-color;
            overflow: hidden;
        }

        &__more {
            margin-top: 3px;
            
            a {
                color: $primary-link-color;

                &:hover {
                    color: $primary-link-color-hover;
                }
            }
        }
    }
    /* /part extended */
}

@media (min-width: $screen-md-min) {
    #{$selector-showcase} {
        &__element {
            &:not(.list-showcase__hide-hover-popup) {
                &:hover {
                    #{$selector-showcase} {
                        &__part-extended {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
	#{$selector-showcase} {
        &__element {
            height: $showcase-element-height-xs;
        }
        &__stores {
            padding: 0;
            margin: 10px 0 14px;
        }
    }
}




