$selector-gallery:                  '.list-gallery' !default;

$col-padding-top:                   15px !default;
$col-padding-right:                 26px !default;
$col-padding-bottom:                15px !default;
$col-padding-left:                  26px !default;
$col-padding:                       $col-padding-top $col-padding-right $col-padding-bottom $col-padding-left !default;

$gallery-element-hover-box-shadow:  $primary-shadow;

#{$selector-gallery} {
    &__element {
        position: relative;
        width: 100%;

        &:hover {
            z-index: 110;

            #{$selector-gallery} {
                &__inner {
                    box-shadow: $gallery-element-hover-box-shadow;
                }
            }
        }
    }

    &__inner {
        border-bottom: 1px solid $table-border-color;
        transition: $primary-transition;

        > .row > [class*='col-'] {
            margin: auto 0;

            > .row > [class*='col-'] {
                margin: auto 0;
            }
        }

        > .row > #{$selector-gallery}__over-mix[class*='col-'] {
            margin: 0;
        }
    }

    &__picture,
    &__prices,
    &__pay-stores,
    &__more {
        padding: $col-padding;
    }

    &__picture {
        text-align: center;
    }
    
    &__over-mix {
        
    }

    &__mix {
        
    }

    &__stickers {
        position: absolute;
        top: -1px;
        right: 15px;
        left: 15px;
    }

    &__name-rating-article {
        
    }

    &__name-rating {
        max-height: 52px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    &__name {
        display: inline;
        margin-right: 8px;
    }

    &__rating {
        display: inline-block;
        max-height: 18px;
        white-space: nowrap;
    }

    &__article {
        margin-bottom: 3px;
    }

    &__compare-favorite {
        margin-top: 5px;
    }

    &__compare {
        padding-right: 11px;
    }

    &__prices {
        
    }

    &__pay-stores {
        
    }

    &__stores {
        padding-top: 6px;
    }

    &__pay {
        .bx-catalog-subscribe-button {
            &.in {
                padding-left: 0;
            }
        }
    }

    &__more {
        height: 100%;
    }
}

.list-thead.list-gallery__thead {
    .list-thead {
        &__td {
            margin: auto 0;
        }
    }

    .list-gallery {
        &__thead {
            &__product {
                padding-left: 0;
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    #{$selector-gallery} {
        &__name-rating-article {
            min-height: 80px;
        }
    }
}

@media (min-width: $screen-sm-min) {
    #{$selector-gallery} {
        &__over-mix {
            min-height: 150px;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        &__pay-stores,
        &__more {
            text-align: center;
        }
    }
}

@media (max-width: $screen-sm-max) {
    #{$selector-gallery} {
        border-top: 1px solid $table-border-color;
        
        &__compare {
            display: block;
        }

        &__favorite {
            display: block;
        }

        &__prices {
            .c-prices {
                &__name {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    #{$selector-gallery} {
        &__left-side {
            margin-top: 15px !important;
            margin-bottom: 15px !important;
        }

        &__left-side > div {
            padding: 15px 0 15px 15px;
        }
        &__right-side > .row {
            padding: 15px 15px 15px 30px;
        }

        &__picture,
        &__prices,
        &__pay-stores,
        &__more {
            padding: 0;
        }

        &__prices {
            margin-bottom: 15px;

            .c-prices {
                &__name {
                    display: inline-block;
                }
            }
        }

        &__pay {
            .b-pay {
                &__button {
                    margin-right: 15px;
                }
            }
        }
        &__pay,
        &__stores {
            display: inline-block;
        }
    }
}
