/* Radio Buttons
   ========================================================================== */
  
.body,
.footer,
.fancybox-container,
.popup-window,
.rsgppopup,
.rs_easycart,
.gopro-subscribe-window {

  // Remove default Radio Buttons
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    transition: .28s ease;

    -khtml-user-select: none; /* webkit (konqueror) browsers */
    user-select: none;
  }

  [type="radio"] + label:before,
  [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 14px;
    height: 14px;
    z-index: 0;
    transition: .28s ease;
  }

  /* Unchecked styles */
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:before,
  [type="radio"]:checked + label:after {
    border-radius: 50%;
  }

  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:not(:checked) + label:after {
    border: 1px solid $radio-empty-color;
  }

  [type="radio"]:not(:checked) + label:after {
    transform: scale(0);
  }

  /* Checked styles */
  [type="radio"]:checked + label:before {
    border: 1px solid transparent;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:checked + label:after {
    border: 1px solid $color1;
  }

  [type="radio"]:checked + label:after {
    background-color: $color1;
  }

  /* Radio With gap */
  [type="radio"]:checked + label:after {
    transform: scale(.4);
  }

  /* Disabled Radio With gap */
  [type="radio"]:disabled:checked + label:before {
    border: 1px solid $input-disabled-color;
  }

  [type="radio"]:disabled:checked + label:after {
    border: none;
    background-color: $input-disabled-color;
  }

  /* Disabled style */
  [type="radio"]:disabled:not(:checked) + label:before,
  [type="radio"]:disabled:checked + label:before {
    background-color: transparent;
    border-color: $input-disabled-color;
  }

  [type="radio"]:disabled + label {
    color: $input-disabled-color;
  }

  [type="radio"]:disabled:not(:checked) + label:before {
    border-color: $input-disabled-color;
  }

  [type="radio"]:disabled:checked + label:after {
    background-color: $input-disabled-color;
    border-color: $input-disabled-solid-color;
  }

}
