.add2review {
	float: right;

	&-around {
		margin-bottom: 15px;
	}
}

// add review form
.reviewform {
	margin-bottom: 25px;

	.rating {
		margin-top:5px;
		margin-bottom:5px;

		span {
			margin-right:10px;
		}

		a {
			margin-bottom: 5px;
			width: 21px;
			height: 20px;
			background-position: 0px -168px;

			&.hover,
			&.selected {
				background-position: -22px -168px;
			}
		}
	}

	.fieldname {
		margin-top: 10px;
		text-transform: uppercase;
	}

	input[type="text"],
	textarea {
		width: 100%;
		max-width: 500px;
	}

	textarea {
		min-height: 44px;

		&.comment {
			min-height: 114px;
		}
	}

	.send {
		margin-top: 10px;
	}
}

.b-reviews {
	border-top: 1px solid $default-border-color;
}

.b-review {
	padding: 26px 13px;
	border-bottom: 1px solid $default-border-color;

	&__head {
		margin-bottom: 31px;
	}

	&__icon {
		text-align: center;

		.svg-icon {
			width: 59px;
			height: 59px;
			fill: #ebecf0;
		}
	}

	&__name-date-rating {
		margin-top: 22px;
	}
	&__name {
		font-weight: bold;
		color: $default-link-color;
	}
	&__name + &__date {
		margin-left: 15px;
	}
	&__date {
		color: $gray-text-color;
	}
	&__date + &__rating {
		margin-left: 20px;
	}
	&__rating {
		position: relative;
		bottom: 2px;
	}

	&__star {
		&.active {
			.svg-icon {
				fill: #ffc424;
			}
		}
		
		.svg-icon {
			width: 13px;
			height: 13px;
			fill: #d7d7d7;
			margin-right: 3px;
		}
	}

	&__data {
		
	}

	&__text + &__text,
	&__text + &__moderate {
		margin-top: 21px;
	}

	&__message {
		&-name {
			margin-right: 7px;
		}

		&-value {
			color: $gray-text-color;
		}
	}
}
