.mainsections {
	width: 80%;
	float: right;
	margin-top: 9px;

	ul {
		padding-left: 0px;
		margin-top: 0;
		margin-bottom: 0px;

		> li {
			&:before {
				content: none;
			}
		}
	}

	.title {
		padding: 0px 17px 15px 17px;
		color: $color-title;
		font-size: 24px;
		line-height: 1;
		text-transform: uppercase;
	}

	li {
		&.section {
			display: block;
			width: 25%;
			float: left;
			margin: -1px 0 0 -1px;
			padding: 17px;
			border: 1px solid #F3F3F3;
			transition: $primary-transition;

			&:hover {
				box-shadow: $primary-shadow;
			}
		}
	}

	a {
		display: inline-block;
		width: 100%;
		font: 13px Opensans, Arial, Helvetica, sans-serif;
		text-overflow: ellipsis;
		overflow: hidden;

		&.parent {
			display: block;
			font-size: 18px;
			line-height: 24px;
			color: $color1;
			margin-bottom: 11px;
		}
	}

	.around_image {
		position: relative;
		display: block;
		height: 160px;
		margin-bottom: 6px;
		overflow: hidden;

		img {
			max-width: 100%;
		}
	}

	.subsections {
		li {
			a {
				line-height: 18px;
			}
		}
	}

	&__show-more {
		color: $primary-link-color;

		&:hover {
			color: $primary-link-color-hover;
		}
	}
}


@media screen and (max-width: 1010px) {
	body.adaptive {
		.mainsections{
			width: 100%;
			float: none;
		}
	}
}
@media screen and (max-width: 750px) {
	body.adaptive {
		.mainsections {
			li {
				&.section{
					width: 33%;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	body.adaptive {
		.mainsections {
			li {
				&.section{
					width: 50%;
				}
			}

			.subsections {
				display: none;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	body.adaptive {
		.mainsections {
			a {
				font-size: 13px;
    			line-height: 18px;

				&.around_image {
					height: 100px;
				}
			}

			.around_image {
				img {
					position: static;
					width: 100%;
					max-width: auto;
					min-width: none;
					min-height: auto;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	body.adaptive {
		.mainsections {
			a {
				&.around_image {
					height: 112px;
				}
			}
		}
	}
}
