.sale-personal-account-wallet-container{
	width:100%;
	max-width:430px;
	margin-bottom:20px;
}
.sale-personal-account-wallet-title{
	font-weight: bold;
	text-transform: uppercase;
	font-size:12px;
	padding:11px 17px;
	border-radius: 3px 3px 0 0;
	border: 1px solid #ddd;
}
.sale-personal-account-wallet-list-container{
	border-radius: 0 0 3px 3px;
	border: 1px solid #ddd;
	border-top: none;
}
.sale-personal-account-wallet-list{}
.sale-personal-account-wallet-list-item{
	position: relative;
	padding:11px 17px 12px 17px;
	font-size:15px;
	overflow: hidden;
	border-bottom: 1px solid #E39A20;
}
.sale-personal-account-wallet-list .sale-personal-account-wallet-list-item:last-child{
	border-bottom: none;
}

.sale-personal-account-wallet-currency {
	display: inline-block;
	float: left;
	font-size: 15px;
	line-height:22px;
	vertical-align: middle;
}

.sale-personal-account-wallet-currency-item {
	font: bold 14px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sale-personal-account-wallet-currency-item + .sale-personal-account-wallet-currency-item {
	font: bold 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sale-personal-account-wallet-sum {
	display: inline-block;
	float: right;
	white-space: nowrap;
	font-weight: bold;
	font-size: 22px;
	/*line-height: 22px;*/
	vertical-align: middle;
}
