$menu-bg-hover: #f5f5f5;

.catalogmenu2_column{
	float:left;
	min-width:250px;
}
.catalogmenu2_column ul {
	list-style: none;
	padding-left: 0px;
	margin-top: 0;
	margin-bottom: 0px;
}
.catalogmenu2_column ul > li {
	list-style-type: none;
}
.catalogmenu2,
.catalogmenusmall{
	position: relative;
	z-index: 200;
}

.catalogmenu2,
.catalogmenu2 ul,
.catalogmenusmall,
.catalogmenusmall ul{
	width: 100%;
}
.catalogmenu2 a,
.catalogmenusmall a{
	position:relative;
	display:block;
	padding:9px 12px;
	text-decoration:none;
}
.catalogmenu2 li{
	background-color:#FFF;
	display: block;
}
.catalogmenu2 li.more{
	display:none;
}
.catalogmenu2.hover li.more{
	display:block;
}
.catalogmenu2.hover li.morelink{
	display:none;
}
.catalogmenu2 ul.first {
	transition: $primary-transition;
}
.catalogmenu2.hover ul.first {
	box-shadow: $dropDownShadow;
}
.catalogmenu2 li.parent{
	max-width:250px;
	background-color:#F3F3F3;
}
.catalogmenu2 a.parent{
	padding:11px 12px 10px;
	color:#000;
	font-size:13px;
}
.catalogmenu2 a.parent .svg-icon.menu,
.catalogmenusmall a.parent .svg-icon.menu {
	float: right;
	width: 12px;
	height: 12px;
	margin-top: 3px;
	margin-right: 3px;
	margin-left: 8px;
}
.catalogmenu2 a.first.morelink{
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:16px;
	padding:12px 22px 12px 12px;
}
.catalogmenu2 li a.first{
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:11px 22px 10px 12px;
	overflow:hidden;
}
.catalogmenu2 li a.first.selected{
	text-decoration:underline;
}
.catalogmenu2 a.first:active,
.catalogmenu2 a.first.hover:active{
	color: $default-link-color-hover;
	background-color: $menu-bg-hover;
}
.catalogmenu2 li ul.first{
	top:40px;
	max-width:250px;
	border-right:none;
	border-left:none;
	border-bottom:none;
}
.catalogmenu2.hover li ul.first{
	border-bottom:1px solid #F3F3F3;
}
.catalogmenu2 li ul{
	position:absolute;
	top:0px;
	display:none;
	max-width:248px;
	height:auto;
	background-color:#fff;
	border:1px solid #F3F3F3;
}
.catalogmenu2 li ul.lvl2 {
	display: flex;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	width: 980px;
	max-width: none;
	box-shadow: $primary-shadow;
}
.catalogmenu2 li ul.lvl2 > .mrow {
	flex: 0 0 auto;
	-webkit-box-flex: 0;
	flex-basis: 25%;
	max-width: 25%;
	margin-bottom: 10px;
}
.catalogmenu2 li ul.rs-show{
	display:block;
	z-index:500;
}
.catalogmenu2 li.first ul{
	min-height:100%;
}
.catalogmenu2 li.first{
	border-right:1px solid #F3F3F3;
	border-bottom:1px solid #F3F3F3;
	border-left:1px solid #F3F3F3;
}
.catalogmenu2.hover li.first.lastchild{
	border-bottom:1px solid #FFF;
}
.catalogmenu2 a.sub{
	display: block;
	width: 100%;
	padding: 0px 12px;
	color: $color1;
}
.catalogmenu2 a.sub > span {
	display: block;
	padding: 10px 0px;
	word-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.catalogmenu2 a.sub + .sub-sub {
	margin-top: 7px;
}
.catalogmenu2 a.sub,
.catalogmenu2 a.sub-sub{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.catalogmenu2 a.sub-sub {
	display: block;
	width: 100%;
	padding: 3px 12px;
	word-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.catalogmenu2 li ul a{
	text-align: left;
}
.catalogmenu2 li ul ul{
	margin: -1px 0 0 247px;
}
.catalogmenu2 li:hover ul,
.catalogmenu2 li.hover ul,
.catalogmenu2 li > ul.lvl2 {
	display: none;
}
.catalogmenu2 li:hover > ul.first {
	display: block;
}
.catalogmenu2 li:hover > ul.lvl2 {
	display: flex;
}
.catalogmenu2 li:hover ul.first.rs-show,
.catalogmenu2 li.hover ul.first.rs-show{
	display: block;
	z-index: 200;
}

.catalogmenu2 {
	.first.catalogmenu2-icon {
		> a {
			padding-left: 40px;
		}
	}

	&__icon {
		position: absolute;
		top: 10px;
		left: 10px;
		max-width: 20px;
		max-height: 20px;
	}
}

/* mobile menu */
.catalogmenusmall {
	display: none;
}
.catalogmenusmall li.parent{
	background-color:#F3F3F3;
}
.catalogmenusmall a.parent {
	padding:11px 12px;
	color:#000;
	font-size:13px;
}

@media (min-width:1010px){
	.catalogmenu2 li ul.first.rs-show{
		display:block;
	}
}
@media (max-width:1010px){
	.catalogmenu2 li ul.first.rs-show{
		display:none;
	}
}
@media (max-width: 1280px) {
	.catalogmenu2 li ul.lvl2 {
		width: 735px;

		> .mrow {
			flex-basis: 33.33333333%;
			max-width: 33.33333333%;
		}
	}
}
@media (max-width: 1050px) {
	.catalogmenu2 li ul.lvl2 {
		width: 490px;

		> .mrow {
			flex-basis: 50%;
			max-width: 50%;
		}
	}
}
@media (max-width: 790px) {
	.catalogmenu2 li ul.lvl2 {
		width: 245px;

		> .mrow {
			flex-basis: 100%;
			max-width: 100%;
		}
	}
}
@media (max-width: $screen-xs-max){
	.catalogmenu2_column{
		float: none;
	}
	.catalogmenu2_column .catalogmenu2{
		display: none;
	}
	.catalogmenu2_column .catalogmenusmall{
		display: block;
	}
}

.catalogmenu2 li.first:hover > a,
.catalogmenu2 li.first.hover > a,
.catalogmenu2 a.first:hover,
.catalogmenu2 a.first.hover{
	color: $default-link-color-hover;
	background-color: $menu-bg-hover;
	text-decoration: none;
}
.menu-sidebar li a:hover {
 	color: $btn1-text-color-hover;
	background: $btn1-bg-color-hover;
}
