.fly-menu {
    &.dropdown-menu {
        top: 0;
    }

    &__ul {
        display: block;
        float: left;
        min-width: 220px;
        transition: transform .25s linear;
    }

    &__li {
        &:hover {
            > .fly-menu {
                &__sub-menu {
                    display: block;
                }
            }
        }
    }

    &__picture {
        position: absolute;
        top: 12px;
        left: 23px;
        max-width: 20px;
        max-height: 20px;

        & + span {
            padding-left: 30px;
        }
    }

    &__duplication-name {
        background-color: #f3f3f3;
    }

    &__sub-menu {
        position: absolute;
        top: -2px;
        left: 100%;
        display: none;
        background-color: #fff;
    }

    &.dropdown-menu > &__li,
    & .dropdown-menu > &__li {
        height: auto;

        > a {
            position: relative;
            color: $default-link-color;

            &:hover {
                color: $default-link-color-hover;
            }
        }

        .svg-icon {
            &.arrow,
            &.back {
                fill: #7d7d7d;
            }

            &.back {
                width: 16px;
                height: 16px;
                margin-right: 7px;
                margin-bottom: 1px;
            }
        }

        .section-svg-icon {
            position: relative;
            bottom: 1px;
            width: 16px;
            height: 16px;
            fill: #e0408a;
            margin-right: 6px;
        }

    }

    @media (min-width: $screen-sm-min) {
        &.list-unstyled > li.fly-menu__li,
        &.list-unstyled .dropdown-menu li.fly-menu__li {
            position: relative;
        }

        &__li {
            &:hover {
                > a {
                    background-color: #f5f5f5;
                }
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        & {
            position: relative;
            margin-top: 0;
        }
        
        &.fly-menu__ul.dropdown-menu,
        & .fly-menu__ul.dropdown-menu {
            border-bottom: 1px solid $default-border-color;
            border-radius: 0;
        }
        
        &__ul {
            width: 100%;
            height: auto;
            float: none;
            transform: translateX(0);

            &.open {
                transform: translateX(-100%);
            }
        }
    }
}
