.b-mmenu {

  & &__toggle {
    position: relative;
    float: none;
    width: 100%;
    padding: 13px 23px 14px;
    text-align: left;
    color: $btn1-text-color;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background: $btn1-bg-color;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
  }

  .navbar-nav {
    margin: 0;
    overflow: hidden;

    &.loaded {
      &:hover {
        overflow: visible;
      }
    }

    > li {
      &.other {
        position: relative;
      }

      &.invisible {
        display: none;
      }
    }
  }

  & &__toggle,
  .navbar-nav > li.lvl1 > a,
  .navbar-nav > li.lvl1 > a,
  .navbar-nav .dropdown-menu > li > a,
  .navbar-nav .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav > .open > a,
  .navbar-nav li > a {
    color: $btn1-text-color;
  }

  & &__toggle:focus,
  & &__toggle:hover,
  .navbar-nav > li.lvl1:hover > a,
  .navbar-nav > li.lvl1 > a:hover,
  .navbar-nav > li.other:hover > a,
  .navbar-nav > li.other > a:hover {
    color: $btn1-text-color-hover;
    background-color: $btn1-bg-color-hover;
  }

  & &__toggle:focus,
  & &__toggle:hover,
  .navbar-nav .dropdown-menu > li:hover > a,
  .navbar-nav .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav > .open > a:focus,
  .navbar-nav > .open > a:hover,
  .navbar-nav li:hover > a,
  &.navbar-default .navbar-nav .dropdown-menu > li:hover > a,
  &.navbar-default .navbar-nav .dropdown-menu > li > a:hover {
    color: $default-link-color-hover;
	  background-color: $menu-bg-hover;
  }

  @media(max-width: $grid-float-breakpoint-max) {

    & &__toggle {
      display: block;
    }

  }

  &.navbar-default {
    position: relative;
    margin-top: 8px;
    background: $btn1-bg-color;

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
      color: $btn1-text-color-hover;
      background-color: $btn1-bg-color-hover;
    }
  }

  .col {
    padding: 0;
  }

  .icon-toggle {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .icon-toggle .icon-bar {
    background-color: $btn1-text-color;
    width: 18px;
  }

  .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    border: none;
    z-index: 200;
    border-bottom: 2px solid $btn1-bg-color-hover;
    box-shadow: $dropDownShadow;
  }

  .dropdown-menu > li > a,
  .navbar-nav > li > a {
    padding: 13px 23px 13px;
    text-decoration: none;
    border-top: 1px solid $navbar-default-border;
    border-bottom: 0;

    &.other-link {
      padding-bottom: 12px;
    }
  }

  .dropdown-menu > li {
    height: 55px;
    border: 0;
  }

  .navbar-collapse {
    border-top: 0;
    box-shadow: none;
  }

  .nav ul > li {
    position: relative;
    display: block;
    height: auto;
  }

  .nav.main-menu-nav .other {
    // float: right;
    display: block;
    border-left: none;
  }

  a {
    .submenu-opener {
      position: absolute;
      top: 0;
      right: 0;
      padding: 18px 20px 11px;
      fill: #fff;
      text-align: center;
    }
  }

  .svg-icon.icon-plus,
  .svg-icon.icon-minus {
    width: 12px;
    height: 12px;
  }

  .svg-icon.icon-plus {
    display: block;
  }
  .svg-icon.icon-minus {
    display: none;
  }

  .open {
    > a > span > .svg-icon.icon-plus {
      display: none;
    }
    > a > span > .svg-icon.icon-minus {
      display: block;
    }
  }

  @media(max-width: $grid-float-breakpoint-max) {
    & .navbar-collapse {
      position: absolute;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 50px;
      z-index: 899;
    }
    & .navbar-nav .open .dropdown-menu > li > a {
      padding-left: 40px;
    }

    & .navbar-nav .open .dropdown-menu > li > ul > li > a {
      padding-left: 55px;
    }

    & .open > .dropdown-menu {
      display: block;
    }
    & .navbar-nav .open .dropdown-menu > .active > a,
    & .navbar-nav .open .dropdown-menu > li > a:focus,
    & .navbar-nav .open .dropdown-menu > li > a:hover,
    & .navbar-nav > .open > a:focus,
    & .navbar-nav > .open > a:hover {
      color: $btn1-text-color-hover;
      background: $btn1-bg-color-hover;
    }
  }
  
  @media(min-width: $grid-float-breakpoint) {

    & .dropdown-menu {
      border-right: 0;
    }
    & .navbar-collapse {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-right: 25px;
      position: relative;
    }
    &.navbar-default .nav .dropdown-menu > li > a {
      padding: 11px 23px 10px 23px;
      background: $body-bg;
      color: $default-link-color;
      border-top: 1px solid $gray-lighter;
      border-left: 1px solid $gray-lighter;
      border-right: 1px solid $gray-lighter;
    }
    & .navbar-nav > li.dropdown:hover > .dropdown-menu {
      display: block;
      left: auto;
      min-width: 220px;
    }
    & .dropdown-submenu:hover > .dropdown-menu {
      display: block;
      top: -2px;
      left: 100%;
    }

    & .navbar-nav > li > a {
      border-top-color: transparent;
    }

    & .navbar-nav {
      height: 47px;
      float: none;
    }

    & .nav.main-menu-nav .other {
      margin-right: 30px;
    }

    & .dropdown-menu.left {
      left: 0;
      transform: translateX(-100%);
    }

  }

  // for all menu templates
  a {
    .svg-icon.arrow {
      position:absolute;
      top: 50%;
      right: 15px;
      width: 9px;
      height: 9px;
      margin-top: -4px;
      margin-left: 8px;
      fill: #7d7d7d;
    }
  }

  li.first:hover,
  li.dropdown-submenu:hover {
    a {
      .svg-icon.arrow {
        fill: #7d7d7d;
      }
    }
  }

}

.menu {
  .b-mmenu {
    @media (max-width: $screen-xs-max) {
      & .dropdown-menu > li > a,
      & .navbar-nav > li > a {
        color: $btn1-text-color;
        background-color: $btn1-bg-color;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .catalogmenucolumn,
  .catalogmenu2_column {
		margin-bottom: 5px;
  }
  
  .navbar-nav {
    .open {
      .dropdown-menu {
        > li {
          > a {
            padding: 13px 23px;
          }
        }
      }
    }
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .b-mmenu.navbar-default {
    margin-bottom: 15px;
  }
}

.svg-icon__morelink {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
