.tpanel__menu2 {
	max-height: 29px;
	float: right;
	overflow: hidden;

	a {
		display: inline-block;
		margin-left: 22px;
		padding: 5px 0;

		&:first-child {
			margin-left: 0;
		}

		.svg-icon {
			position: relative;
			bottom: 1px;
			width: 16px;
			height: 16px;
			fill: $color1;
			margin-right: 2px;
		}
	}
}
