
body.rsgopro {
	.js-pseudo {
		&-focus-blur-input {
			border: none;
        }
        
        &-border,
        &-border-top,
        &-border-right,
        &-border-bottom,
        &-border-left {
            transition: border-color .3s;
        }

        &-border {
            border: 1px solid $default-border-color;

			&-top {
				border-top: 1px solid $default-border-color;
			}

			&-right {
				border-right: 1px solid $default-border-color;
			}

			&-bottom {
				border-bottom: 1px solid $default-border-color;
			}

			&-left {
				border-left: 1px solid $default-border-color;
			}
		}

		&-focus-blur {
            &.js-pseudo-focus,
            &.js-pseudo-border {
                .js-pseudo {
                    &-border,
                    &-border-top,
                    &-border-right,
                    &-border-bottom,
                    &-border-left {
                        border-color: $primary-border-color;
                    }
                }
            }
		}
	}
}
