.rs-tabs {
    &__bar {
        @include mix-tabs-bar();
    }

    &__bar-button {
        @include mix-tabs-bar-button($default-link-color, $default-link-color-hover);
    }

    &__preloader {
        position: relative;
        width: 100%;
        min-height: 100px;
    }
}

.nav {
    &.nav-tabs {
        @include mix-tabs-bar();

        > li {
            @include mix-tabs-bar-button($default-link-color, $default-link-color-hover);

            > a {
                @include mix-tabs-bar-button-reset($default-link-color);
            }
        }
    }
}

.tab-pane-in {
    padding: 37px 0;
}

.b-tab-component {
    position: relative;
    
    .tab-pane-in {
        padding: 0;
    }
}
