// 1. Colors
// ==========================================================================

$secondary-color: $color1 !default;

// Text Inputs + Textarea
$input-background: #fff !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;

// Radio Buttons
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #9c9c9c !default;
$radio-border: 2px solid $radio-fill-color !default;

.body,
.footer,
.fancybox-container,
.popup-window,
.rsgppopup,
.rs_easycart,
.gopro-subscribe-window {

  label {
    box-sizing: border-box;
  }

  /* Remove default checkbox */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  // Checkbox Styles
  [type="checkbox"] {
    // Text Label Style
    + label {
      position: relative;
      padding-left: 20px;
      cursor: pointer;
      display: inline-block;
      height: 14px;
      line-height: 14px;

      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */
    }

    /* checkbox aspect */
    + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      z-index: 0;
      border: 2px solid $radio-empty-color;
      border-radius: 1px;
      margin-top: 2px;
      transition: .2s;
    }

    &:not(:checked):disabled + label:before {
      border: none;
      background-color: $input-disabled-color;
    }
  }

  [type="checkbox"]:checked {
    + label:before {
      top: -4px;
      left: -5px;
      width: 12px;
      height: 22px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: $radio-border;
      border-bottom: $radio-border;
      transform: rotate(40deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
    }

    &:disabled + label:before {
      border-right: 2px solid $input-disabled-color;
      border-bottom: 2px solid $input-disabled-color;
    }
  }

  /* Indeterminate checkbox */
  [type="checkbox"]:indeterminate {
    +label:before {
      top: -11px;
      left: -12px;
      width: 10px;
      height: 22px;
      border-top: none;
      border-left: none;
      border-right: $radio-border;
      border-bottom: none;
      transform: rotate(90deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
    }

    // Disabled indeterminate
    &:disabled + label:before {
      border-right: 2px solid $input-disabled-color;
      background-color: transparent;
    }
  }

  // Filled in Style
  [type="checkbox"] {
    // General
    + label:after {
      border-radius: 1px;
    }

    + label:before,
    + label:after {
      content: '';
      left: 0;
      position: absolute;
      /* .1s delay is for check animation */
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
    }

    // Unchecked style
    &:not(:checked) + label:before {
      width: 0;
      height: 0;
      border: 3px solid transparent;
      left: 6px;
      top: 10px;

      -webkit-transform: rotateZ(37deg);
      transform: rotateZ(37deg);
      -webkit-transform-origin: 20% 40%;
      transform-origin: 100% 100%;
    }

    &:not(:checked) + label:after {
      height: 14px;
      width: 14px;
      background-color: transparent;
      border: 1px solid $radio-empty-color;
      top: 0px;
      z-index: 0;
    }

    // Checked style
    &:checked {
      + label:before {
        top: 0;
        left: 1px;
        width: 5px;
        height: 10px;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 2px solid $input-background;
        border-bottom: 2px solid $input-background;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);

        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }

      + label:after {
        top: 0;
        width: 14px;
        height: 14px;
        border: 1px solid $secondary-color;
        background-color: $secondary-color;
        z-index: 0;
      }
    }

    // Disabled style
    &:disabled:not(:checked) + label:before {
      background-color: transparent;
      border: 1px solid transparent;
    }

    &:disabled:not(:checked) + label:after {
      border-color: transparent;
      background-color: $input-disabled-solid-color;
    }

    &:disabled:checked + label:before {
      background-color: transparent;
    }

    &:disabled:checked + label:after {
      background-color: $input-disabled-solid-color;
      border-color: $input-disabled-solid-color;
    }
  }

}
