$selector-changelable-props: '.c-changelable-props' !default;

#{$selector-changelable-props} {
	margin-bottom: 18px;
	
	&__property {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__name {
		color: $gray-text-color;
		margin-right: 7px;
	}

	&__value {
		
	}
}
