/** -- hard color color.scss -- **/
@import "color/proauto/variables";       // autopro.redsign.ru
// @import "color/profashion/variables";    // fashionpro.redsign.ru
// @import "color/profood/variables";       // marketpro.redsign.ru
// @import "color/profurniture/variables";  // casapro.redsign.ru
// @import "color/gmarket/variables";       // gmarket.redsign.ru
// @import "color/prohome/variables";       // housepro.redsign.ru
// @import "color/prokids/variables";       // kidspro.redsign.ru
// @import "color/prooffice/variables";     // officepro.redsign.ru
// @import "color/proopt/variables";        // optpro.redsign.ru
// @import "color/prosport/variables";      // activepro.redsign.ru
// @import "color/prostroy/variables";      // buildpro.redsign.ru
// @import "color/prozoo/variables";        // animalpro.redsign.ru
/** /-- hard color color.scss -- **/
