.catalog {
	.prods {
		.sectinfo {
			width: 100%;
			padding-top: 20px;
			padding-bottom: 20px;
			border-top: 1px solid #E5E5E5;

			.img {
				width: 20%;
				float: left;
				padding: 0px 15px 15px 15px;
			}

			.description {
				width: 80%;
				float: left;

				&.no_img_descr {
					width: auto;
					padding-left: 15px;
				}
			}
		}
	}
}

@media screen and (max-width:605px){
	body.adaptive .catalog .prods .sectinfo{
		display:none;
	}
}
