/* Radio Buttons
   ========================================================================== */

.bx_soa_location .radio-inline label {
  padding-left: 27px;
}
.form-group .soa-property-container label {
  padding-left: 7px;
}
  
.bx_soa_location .radio-inline label,
.form-group .soa-property-container label {
  height: 14px;
  line-height: 14px;
  cursor: pointer;

  // Remove default Radio Buttons
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 1;
  }

  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: relative;
    display: inline-block;
    transition: .28s ease;

    -khtml-user-select: none; /* webkit (konqueror) browsers */
    user-select: none;
  }

  [type="radio"]:before,
  [type="radio"]:after {
    content: ' ';
    position: absolute;
    left: 9992px;
    top: 0;
    margin: 0;
    width: 14px;
    height: 14px;
    z-index: 0;
    transition: .28s ease;
  }

  /* Unchecked styles */
  [type="radio"]:not(:checked):before,
  [type="radio"]:not(:checked):after,
  [type="radio"]:checked:before,
  [type="radio"]:checked:after {
    border-radius: 50%;
  }

  [type="radio"]:not(:checked),
  [type="radio"]:not(:checked) {
    &:before,
    &:after {
      border: 1px solid $radio-empty-color;
    }

    &:hover {
      &:before,
      &:after {
        border-color: $primary-border-color;
      }
    }
  }

  [type="radio"]:not(:checked):after {
    transform: scale(0);
  }

  /* Checked styles */
  [type="radio"]:checked:before {
    border: 1px solid transparent;
  }

  [type="radio"]:checked:before,
  [type="radio"]:checked:after {
    border: 1px solid $primary-border-color;
  }

  [type="radio"]:checked:after {
    background-color: $color1;
  }

  /* Radio With gap */
  [type="radio"]:checked:after {
    transform: scale(.4);
  }

  /* Disabled Radio With gap */
  [type="radio"]:disabled:checked:before {
    border: 1px solid $input-disabled-color;
  }

  [type="radio"]:disabled:checked:after {
    border: none;
    background-color: $input-disabled-color;
  }

  /* Disabled style */
  [type="radio"]:disabled:not(:checked):before,
  [type="radio"]:disabled:checked:before {
    background-color: transparent;
    border-color: $input-disabled-color;
  }

  [type="radio"]:disabled {
    color: $input-disabled-color;
  }

  [type="radio"]:disabled:not(:checked):before {
    border-color: $input-disabled-color;
  }

  [type="radio"]:disabled:checked:after {
    background-color: $input-disabled-color;
    border-color: $input-disabled-solid-color;
  }

}
