/** -- hard color theme -- **/
@import "color/proauto/style";       // autopro.redsign.ru
// @import "color/profashion/style";    // fashionpro.redsign.ru
// @import "color/profood/style";       // marketpro.redsign.ru
// @import "color/profurniture/style";  // casapro.redsign.ru
// @import "color/gmarket/style";       // gmarket.redsign.ru
// @import "color/prohome/style";       // housepro.redsign.ru
// @import "color/prokids/style";       // kidspro.redsign.ru
// @import "color/prooffice/style";     // officepro.redsign.ru
// @import "color/proopt/style";        // optpro.redsign.ru
// @import "color/prosport/style";      // activepro.redsign.ru
// @import "color/prostroy/style";      // buildpro.redsign.ru
// @import "color/prozoo/style";        // animalpro.redsign.ru
/** /-- hard color theme -- **/
