.sections {
	width: 100%;

	li {
		&.section {
			padding: 17px;
		}
	}

	a {
		font: 13px Opensans,Arial,Helvetica,sans-serif;
		line-height: 24px;

		&.psection {
			display: block;
			height: 170px;
			line-height: 170px;
			text-align: center;

			img {
				max-height: 161px;
				line-height: 1.2;
				vertical-align: middle;
			}
		}

		&.parent {
			display: block;
			font-size: 18px;
			color: $color-title;
		}
	}
}

@media (max-width: 480px){
	.sections .subsections{
		display: none;
	}
}

.b-iblock-description {
	&.top {
		margin-bottom: 15px;
	}

	&.bottom {
		margin-top: 15px;
	}
}
