.body .bx_profile {
	.main-profile-block-date-info {
		strong {
			color: $gray-text-color;
			font-weight: normal;
		}
		
		strong + strong {
			color: inherit;
		}
	}

	.form-group {
		label {
			color: $gray-text-color;
		}
	}

    .btn-md.main-profile-submit {
        @include mix-buttons($btn1-text-color, $btn1-bg-color, $btn1-text-color-hover, $btn1-bg-color-hover);
    }

    .btn-md {
        @include mix-buttons($btn2-text-color, $btn2-bg-color, $btn2-text-color-hover, $btn2-bg-color-hover);
    }
}
