$selector-pay:    '.b-pay' !default;

.body {
    #{$selector-pay} {

        &__form {
            &.cantbuy {
                #{$selector-pay} {
                    &__add2basket,
                    &__inbasket,
                    &__buy1click,
                    &__quantity {
                        display: none;
                    }

                    &__add2subscribe {
                        display: inline-block;
                    }
                }
            }
            
            &.in {
                #{$selector-pay} {
                    &__add2basket,
                    &__buy1click,
                    &__add2subscribe {
                        display: none;
                    }

                    &__inbasket {
                        display: inline-block;
                    }
                }
            }

            #{$selector-pay} {
                &__inbasket,
                &__add2subscribe {
                    display: none;
                }

                &__add2basket,
                &__buy1click {
                    display: inline-block;
                }
            }
        }
    }
}
