.b-locations-top {
    &__title {
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__item {
        margin-bottom: 5px;
    }

    &__line {
        position: relative;
        left: -20px;
        width: 100%;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px 20px;
        background-color: #F2F2F2;
    }

    &__bitrix-search {
        .bx-sls {
            max-width: 500px;

            .bx-ui-sls-container {
                overflow: hidden;
                min-height: 40px;

                .bx-ui-sls-fake,
                .bx-ui-sls-route {
                    position: absolute !important;
                    top: 0;
                    left: 0;
                    color: #000 !important;
                    opacity: 1 !important;
                    -webkit-box-shadow: none !important;
                    box-shadow: none !important;
                    background: #f7f7f8 !important;
                    border-color: #d7dbdd;
                    background-position: right 1px;
                    background-repeat: no-repeat;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    height: 40px;
                    width: 100%;
                    outline: none;
                    z-index: 10;
                }
            }

            .bx-ui-sls-quick-locations {
                &.quick-locations {
                    display: none;
                }
            }
        }
    }
}

.bx-ui-sls-pane {
    max-height: 250px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d7dbdd;
    border: 1px solid #d7dbdd;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 1px;
    z-index: 99999;
}

.bx-ui-sls-variants {
    .bx-ui-sls-variant {
        &:hover {
            text-decoration: none;
        }
    }

    .dropdown-item-text {
        display: block;
        padding: 11px 22px 10px 12px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857;
        white-space: nowrap;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: #f5f5f5;
        }
    }
}
