$selector-favorite: '.c-favorite' !default;

#{$selector-favorite} {
    width: 20px;
    height: 20px;

	&.in {
        .svg-icon {
            fill: #cb0000;
        }

        #{$selector-favorite} {
            &__title {
                display: none;

                &-in {
                    display: inline;
                }
            }
        }
    }

    &:hover {
        text-decoration: none;

        #{$selector-favorite} {
            &__title,
            &__title-in {
                border-color: transparent;
            }
        }
    }

    &__title,
    &__title-in {
        margin-left: 5px;
        border-bottom: 1px dashed $default-link-color;
    }

    &__title-in {
        display: none;
    }

    .svg-icon {
        width: 10px;
        height: 13px;
        fill: #91918f;
    }
}
