$selector-prices: '.c-prices' !default;

#{$selector-prices} {
    &.view- {
        &line {
            #{$selector-prices} {
                &__value {
                    display: inline-block;
                }
            }
        }

        &list {
            #{$selector-prices} {
                &__price {
                    display: block;
                }

                &__quiet-hide {
                    height: 0 !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    overflow: hidden;
                }
            }

            &.product- {
                &multiple {
                    #{$selector-prices} {
                        &__price {
                            margin-bottom: 3px;

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                &alone {
                    #{$selector-prices} {
                        &__name {
                            display: none;
                        }

                        &__value {
                            font-family: 'Open Sans',Arial,Helvetica,sans-serif;
                            font-size: 18px;
                            margin-right: 8px;
                        }
                    }
                }
            }

            &.page- {
                &detail {
                    &.product- {
                        &multiple {
                            #{$selector-prices} {
                                &__price {
                                    margin-top: 9px;
                                }

                                &__name {
                                    display: block;
                                    margin-bottom: 2px;
                                }

                                &__value {
                                    font-size: 18px;
                                }

                                &__value + #{$selector-prices}__value-old {
                                    margin-left: 7px;
                                }
                                &__value-old + #{$selector-prices}__discount {
                                    margin-left: 6px;
                                }
                                &__value-discount-name + #{$selector-prices}__value-discount {
                                    margin-left: 2px;
                                }
                            }
                        }

                        &alone {
                            #{$selector-prices} {
                                &__price {
                                    margin-top: 7px;
                                }

                                &__name {
                                    display: none;
                                }

                                &__value {
                                    font-size: 38px;

                                    &-old {
                                        font-size: 26px;

                                        &:after {
                                            height: 2px;
                                        }
                                    }
                                }

                                &__value + #{$selector-prices}__value-old {
                                    margin-left: 11px;
                                }
                                &__value-old + #{$selector-prices}__discount {
                                    margin-left: 7px;
                                }
                                &__value-discount-name + #{$selector-prices}__value-discount {
                                    margin-left: 2px;
                                }
                            }
                        }
                    }

                    #{$selector-prices} {
                        &__value {
                            font-weight: bold;
                            line-height: 1;

                            &-discount {
                                display: inline-block;
                                padding: 2px 4px 1px;
                                background-color: #ffd200;
                            }
                        }
                    }
                }
            }
        }
    }

    &__name {
        color: $gray-text-color;
        white-space: nowrap;
        margin-right: 3px;
    }

    &__value {
        white-space: nowrap;

        &-old {
            position: relative;
            color: $gray-text-color;
            white-space: nowrap;

            &:after {
                position: absolute;
                top: 49%;
                right: 0;
                left: 0;
                display: block;
                width: auto;
                height: 1px;
                content: " ";
                background-color: $color1;
            }
        }

        &-discount {
            white-space: nowrap;
        }
    }

    &__more {
        &-link {
            color: $primary-link-color;

            &:hover {
                color: $primary-link-color-hover;
            }
        }
    }

    & &__empty,
    & &__hide {
        display: none !important;
    }
}
