@mixin mix-button() {
    position: relative;
    display: inline-block;
    height: auto;
    padding: 5px 21px 6px 21px;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
    background: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: none;
    box-shadow: none;
    transition: 0s;
}

@mixin mix-buttons($text-color, $bg-color, $text-color-hover, $bg-color-hover) {
    @include mix-button();

    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: $text-color;
    background-color: $bg-color;
    border: 1px solid $bg-color;
    border-bottom-color: $bg-color-hover;

    &:hover {
        @include mix-buttons-hover($text-color, $bg-color, $text-color-hover, $bg-color-hover);
    }
}

@mixin mix-buttons-hover($text-color, $bg-color, $text-color-hover, $bg-color-hover) {
    color: $text-color-hover;
    background-color: $bg-color-hover;
    border-color: $bg-color-hover;
    text-decoration: none;
    transition: 0s;
}

@mixin mix-buttons-link() {
    @include mix-button();

    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid transparent;

    &:hover {
        text-decoration: underline;
    }
}

@mixin mix-buttons-link-unlink() {
    @include mix-button();

    cursor: default;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid transparent;
}
