@mixin mix-tabs-bar() {
    width: 100%;
    white-space: nowrap;
    padding: 0;
    margin: 0 0 10px 0;
    background: #f3f3f3;
    border: none;
    overflow-x: auto;
    overflow-y: hidden;
}

@mixin mix-tabs-bar-button($color, $color-hover) {
    position: relative;
    display: inline-block;
    float: none;
    font-size: 13px;
    line-height: 18px;
    color: $color;
    white-space: nowrap;
    text-decoration: none;
    margin: 0;
    padding: 20px 23px;
    background: transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: none;
    border-left: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;

    &:before,
    &:after {
        position: absolute;
        display: none;
        top: -1px;
        width: 2px;
        height: 1px;
        content: " ";
        background-color: #fff;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }

    &:hover {
        color: $color-hover;
    }

    &.active,
    &.current {
        color: $color;
        background-color: #fff !important;
        border-top: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        border-left: 1px solid #f3f3f3;

        &:before,
        &:after {
            display: block;
        }
    }
}

@mixin mix-tabs-bar-button-reset($color) {
    color: $color;
    text-decoration: none !important;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    border: none !important;

    &:hover,
    &:focus {
        color: $color;
        text-decoration: none !important;
        padding: 0 !important;
        margin: 0 !important;
        background: transparent !important;
        border: none !important;
    }
}
