.pmenu {
	.in {
		border: 1px solid #F2F2F2;
	}

	a {
		display: block;
		width: 100%;
		padding: 10px 14px;
		text-decoration: none;

		&:hover,
		&.selected,
		&.selected:active,
		&:active {
			color: #fff;
			background-color: #EE8131;
			text-decoration: none;
		}
	}

	.separator {
		width: 100%;
		height: 1px;
		background-color: #F2F2F2;
	}
}
