/* catalog.element */
.detail {
    &__prices__title {
        color: $primary-link-color;
    }

    &__previewtext__go-to__link {
        color: $primary-link-color;

        &:hover {
            color: $primary-link-color-hover;
        }
    }
    
    &__pic__dots {
        .owl-dot {
            &:hover,
            &.active {
                border-color: $primary-border-color;
            }
        }
    }
}

.body {
    .scrollbar-inner {
        > .scroll-element {
            &.scroll-draggable {
                .scroll-bar {
                    background-color: $color1;
                }
            }

            .scroll-bar {
                &:hover {
                    background-color: $color1;
                }
            }
        }
    }

    .set {
        .js-element {
            &:hover {
                border-color: $primary-border-color;
            }
        }

        .fullpanel {
            .block.myset {
                .svg-icon {
                    fill: $color1;
                }
            }
        }
    } 
}
