.body {

    // top line
    .tline {
        background-color: $btn1-bg-color;
    }
    .tpanel__menu2 {
        a {
            .svg-icon {
                fill: $color1;
            }
        }
    }

    // basket
    .header-basket {
        .svg-icon {
            fill: $color1;
        }
    }

    .header {
        &__circle {
            &.js-more-than-zero {
                background-color: $color2;
            }
        }
    }

    // main menu -> horizontal1
    .b-mmenu {
        &.navbar-default {
            background-color: $btn1-bg-color;

            .b-mmenu__toggle,
            .navbar-nav > li.other > a {
                color: $btn1-text-color;
                background-color: $btn1-bg-color;
            }

            .search-bar .search-btn.svg-icon:hover,
            .b-mmenu__toggle:hover,
            .navbar-nav > li.lvl1:hover > a,
            .navbar-nav > li.lvl1 > a:hover,
            .navbar-nav > li.other:hover > a,
            .navbar-nav > li.other > a:hover,
            .navbar-nav > .active > a,
            .navbar-nav > .active > a:hover,
            .navbar-nav > .active > a:focus {
                color: $btn1-text-color-hover;
                background-color: $btn1-bg-color-hover;
            }

            .dropdown-menu {
                border-color: $btn1-bg-color-hover;
            }

            // search.title
            .searchinhead {
                border-color: $btn1-bg-color;

                .search-btn:hover .svg-icon {
                    fill: $btn1-bg-color-hover;
                }
            }
        }

        .dropdown-menu {
            border-bottom-color: $primary-border-color;
        }
    }

    // main banners
    .gopro-banners {
        &__text1 {
            &.product {
                &:after {
                    background-color: $btn1-bg-color;
                }
            }
        }
        &__text2 {
            color: $color1;
        }
    }
    .owl-dots {
        .owl-dot {
            &:hover,
            &.active:hover {
                background-color: $btn1-bg-color-hover;
            }
            &.active {
                background-color: $btn1-bg-color;
            }
        }
    }

    // hamburger
    .hamburger {
        &.is-active {
            background-color: $btn1-bg-color;
        }
    }
}

.header-fly {
    border-top-color: $primary-border-color;

    &__panel {
        border-bottom-color: $primary-border-color;
    }
}

@media(max-width: 991px) {
    .authinhead2 .authorized .authinhead2__icon {
        border-color: $primary-border-color;
    }
}

@media(max-width: 768px) {
    .body {
        .b-mmenu {
            &.navbar-default {
                .dropdown-menu > li > a {
                    color: $btn1-text-color;
                    background-color: $btn1-bg-color;
                }
            }
        }
        .menu .b-mmenu .dropdown-menu > li > a,
        .menu .b-mmenu .navbar-nav > li > a {
            color: $btn1-text-color;
            background-color: $btn1-bg-color;
        }
    }
}
