.mainsections {
	width: 80%;
	float: right;
	margin-top: 9px;

	ul {
		list-style: none;
		padding-left: 0px;
		margin-top: 0;
		margin-bottom: 0px;

		> li {
			list-style-type: none;
		}
	}

	.title {
		padding: 0px 17px 15px 17px;
		color: #EE8131;
		font-size: 24px;
		line-height: 1;
		text-transform: uppercase;
	}

	li {
		&.section {
			display: block;
			width: 25%;
			float: left;
			margin: -1px 0 0 -1px;
			padding: 17px;
			border: 1px solid #F3F3F3;
		}
	}

	a {
		display: inline-block;
		width: 100%;
		font: 13px Opensans, Arial, Helvetica, sans-serif;
		text-overflow: ellipsis;
		overflow: hidden;

		&.parent {
			display: block;
			font-size: 18px;
			color: $color1;
		}
	}

	.around_image {
		position: relative;
		display: block;
		height: 160px;
		margin-bottom: 5px;
		overflow: hidden;

		&:hover {
			img {
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}
		}

		img {
			position: absolute;
			top: -999px;
			bottom: -999px;
			left: -999px;
			right: -999px;
			max-width: none;
			min-width: 100%;
    		min-height: 100%;
			width: auto;
    		height: auto;
			margin: auto;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-transition: all .25s ease-in-out;
    		transition: all .25s ease-in-out;
		}
	}
}


@media screen and (max-width: 1010px) {
	body.adaptive {
		.mainsections{
			width: 100%;
			float: none;
		}
	}
}
@media screen and (max-width: 750px) {
	body.adaptive {
		.mainsections {
			li {
				&.section{
					width: 33%;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	body.adaptive {
		.mainsections {
			li {
				&.section{
					width: 50%;
				}
			}

			.subsections {
				display: none;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	body.adaptive {
		.mainsections {
			a {
				font-size: 13px;
    			line-height: 18px;

				&.around_image {
					height: 100px;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	body.adaptive {
		.mainsections {
			a {
				&.around_image {
					height: 75px;
				}
			}
		}
	}
}
