.gallery-popup {
    margin-top: 25px;
    margin-bottom: 15px;

	.row {
		margin-left: -1px;
		margin-right: -1px;
	}
	&__col_item {
        padding-left: 1px;
        padding-right: 1px;
    }

    &__item {
        margin-top: 1px;
        margin-right: auto;
        margin-bottom: 1px;
        margin-left: auto;
    }

    &__link {
        position: relative;
        display: block;
        height: 0;
        padding-top: 75%;
        overflow: hidden;

        &:hover {
            .gallery-popup {
                &__pic {
                    -webkit-transform: scale(1.3);
                    -ms-transform: scale(1.3);
                    transform: scale(1.3);
                }

                &__info {
                    visibility: visible;
                    background: rgba(0,0,0,.7);
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }

    &__pic {
        position: absolute;
        top: -999px;
        bottom: -999px;
        left: -999px;
        right: -999px;
        max-width: none;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        margin: auto;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    &__info {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: 0 0;
        -webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
    }

    &__title {
        position: relative;
        top: 50%;
        color: #fff;
        text-align: center;
        line-height: 1.38462;
        padding: 0 10px;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
